.bg-img-head {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("../../assets/resources/service/head_ser.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}

.bg-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/5508/19d4/44ec6ea14c5cfc6ea46700b6652420b2?Expires=1688947200&Signature=NvbVotoWxPx5YICthRv~yRImpKUF6zJqbkopKVOB-GYUj088wzss7vU7XvH8eFf8tYkZ~0VM2OKV6wEt27nNp5fh3vVub1Opez2ffFv58rlQl7iQCIjKkC1Ks6vm7qfVAscOillfZe7PsqvUQwhNxhDExQYP7JYGhT36xw1EeMiTLIWJgEuY8D1h3w1omiJWcngspNrtVTLX4QcvBBwqDEXf3Vn2BJvK-E05iWB6lkC6pohkIn83mBNA6ipN~sQkdoZ3VhPgAlMBvm-5n5iPqQoXRCG3bLmE1PTgjHjB6V0KUr8PqA9RvH1w~YPHZkPzqQ9R0pQgEL9N4noQiXwmMg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}
.bg-img1 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/7d10/19f3/512931f6f8d5cab04dde57c34f770bb0?Expires=1688947200&Signature=bSYtRB1CXohygHOFOLo5bolGDz9YIJ~11zM-zIPQz00E9DPhTawmG6S1COBQgLBl2iu0~PJ0qcVv5xcdtyazQyS47BvrKZTLZIkCm5hmdBt1e2VuQ2QaX3zO313Rxl4YiUrz~ieaVqltXWRJZUOVAkx5ukQtKlWHpgX2NNQ52ddJljGNoSwrZOwoJTDAE3iOEdKkpCv1yVEoe-jPF7q~XMRYWDqOxHDffzDvOqLHUDjArdKzZbfaOKPSW4eum1rPoz-BvU1btWaC4xzonT2oskjrbYq25CuFl5UpcSUKnJAmUYc-qEqasfOqGhvHEMEcawpii0WWe-YvmW86o4Thlw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}
.bg-img2 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/de74/916a/0706546dbf30c1008543d543c1e4de75?Expires=1688947200&Signature=Elf0gfQKeTiE6l5ZWhSJUIgAk1v4A7gAqqXYVp7KqtCda5bqFZ4v9PS~TsHNA42qAcTF6hV7lCcXlgo99LhA9JAmChk-I7Az2UOoj3VOLQxH8OmsHgtSxpp~mDGainvXF40DgPEP1xSr3gG9ZwYNq2wR7RTKkp3Uf6upXyE7Dus46iDz5QH4KZdbk~MMsmC7XmLltthrx1eWndduKg4YSCMFzJ9d2-zm5zvcnCf3id2XTbe0Aqs8DeOKz-X1ssT-ePGzzqsbhbftwqsy~ELkn5vMTpeqwUeXvR9T5vFFMX5hsKNOmkR8iaWnn~WTKoh4m-R4KIyeLsdtAovM3c5STg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}
.bg-img3 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/5d2f/ec45/eccda3f82c0a9a60eb6ebea1fd3ca355?Expires=1688947200&Signature=i~ba3~KP4OegrY3aTWEkouK6TF1wGrL1ZQacFbdEC7x4CgkC8wWcbdN39hTxRK9DWBXDQc5EVsGiC9~0kGoLIGOIlhMwB1dfd~DB8ElLxrwm6b8yOFbpVc1FbysBxstMLwCSiDDgPQUpubJFXjI1wMYUxYX3D6k3D1hznylNkotuNug91Nzj1mmBQvXANwqLohF83VWAX6L6NDQpbOb~lu2YXTXfLdAFr3f90QJS6RM2n4IYf3~CUiWMmbLvQNH2EdiBJhRNCKGHBNZGV8Qn4l9oKUAwla1VCKWk~bwaXmkxFVFFYGJ8zO6xgTv7H1sk9kjz8UhhPBFGhxcl2SztXQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}
.bg-img4 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/d047/baca/6cef27d6ebe4f8168dc11aba1a09aef9?Expires=1688947200&Signature=ELIOfX3TFh3HxL9r2XzQFAmVT6d9utL0ieQrsnCMNmIcfcdku2EpPbCav1R00lrFvclem0vZ8U2sZPkbdmKeGoh0AEMWw1TZji1Z7IgkBghUqynPy6RDIKd47KRnBFS8SVmJbAgG2CelL~PaWVrn70-bN9lXQt1J3AgvgaYc6gEysJwa7TTCbJnb3dZt3awE4ymgtE6qVTvk2Aeq~yZGQhNoJ1u5NudHet7w7WB-u7zGI1OhpsB9dRJhG7IR-PXvxgKo7Jib0aYj79C~lWm0cLn8tGqOnpjI8GsWZTg42wle~YWPjzEB52deK6TWTp8fZCBwXhx2VaAtHWRYMTW3rw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}
.bg-img5 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/3c43/6e07/0511f11ea4748b1561976449ebdd5fd3?Expires=1688947200&Signature=UTYFZ8bUc2qJF-m02fYwCWW7Pt6qyfgpbkVstY8ENfmxifyP4gwJLXnqKxVqlFRH2iq7LZ1Q~ATdEqoArTDzFF7jKepYAwcXRSRu5V9rhU1Jul83c5PFQG3DmywrRVJpjZgbF4zYCaDINvBQLP0ICcZp58S-NI6dU7LVj42oOaddLsWkut93639F66Teiq95PjvlqohKedy5Mm5lArh0oyWxMQSauGy8S~G9KlGN-gK3dkzBlvWaLmriTTu7HfIcSAmKqKpNPtng1eScWKlrUCkk2iRO6JYYEbkYgiAE5r9YKtU6hBzFXGntxhoy5xCKVzn365acxVq9-~Jr7Q189A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}

.header-text {
  position: relative;
  top: 42%;
}

/* .line {
  width: 100%;
  height: 10px;
  background-color: #0057b2;
} */

.box {
  height: 500px;
  background-color: #0057b2;
}

@media screen and (max-width: 576px) {
  .bg-img-head {
    width: 100%;
    height: 670px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 100%,
        transparent 70%
      ),
      url("https://s3-alpha-sig.figma.com/img/5508/19d4/44ec6ea14c5cfc6ea46700b6652420b2?Expires=1679270400&Signature=gItPKlG3wE8~JB6VbwsomSxfbGE~76h27OkIvVS4aVIcw75AozkSP~YS6Mt1UGeXuDxkf8aOTp5~drxHktmDfUgBXIOpoatSZhSzlgmr27pEtVwjuX2q6gRV86iVr62ntu19REcu8JL8hPzJWLOJ1jWK2Nav4kJ0aXT1aFA6OXp2kLL0sxOte0lgyNMHwdjvm6-SpMXd~LtAi5~VPN0VwpB6mJE3tIIr4wGy8~dRATtYOFQ-xFd6PtbmU8saaSXliBbYKNlsSXOopyMLnk6IrpCCL7weFSptfuM0kbvIIscK1z4FqHLyUikHfyhuE3boquIvt38CJc5NowuevwtB-Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;
  }

  .box {
    height: 400px;
    background-color: #0057b2;
  }

  .box-text {
    height: 350px;
    background-color: #0057b2;
  }

  .mb-order-1 {
    order: 1;
  }

  .mb-order-2 {
    order: 2;
  }

  .mb-order-3 {
    order: 3;
  }

  .mb-order-4 {
    order: 4;
  }
}
