.bg-img-head {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("../../assets/resources/service/head_ser.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}

.bg-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/5508/19d4/44ec6ea14c5cfc6ea46700b6652420b2?Expires=1698624000&Signature=OyKXK~uityva8aIOJK6aT8U4jajk1ub7vSltyphTjqBMPt2hntnXlMRkdZsBNVAz6EiVwHcCiGM015N8XYE7FODWHsD2dP5WfqC8Ott8uKpLgY606tje79vb~6A4fyAH8JplC4n2ybcnb-zJcWFSmITZpB-3OiCZIJUxv43ZqLPutr5FbcdIZBceIaJ3W0HyJ9Cm9WOOlHRyCfyMbLmL3ayn1k9AX6VYIrXpIlX0d1P6qfW5MUHIXsfT2g6LXVCPeY78-4TasLMmlTl0x10Y-SIB2RD7k9GrdrzelTpmjwfs6lKZ8Mxuq~ulh4XYzLJZMDInPzFurnKcwOHVEFJhuw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}
.bg-img1 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/7d10/19f3/512931f6f8d5cab04dde57c34f770bb0?Expires=1698624000&Signature=dzzs9l3~G9oGV8HG~q3QzKyliI-4JGcRmutP6nZMA2EdKRo-Mo24sOyDXf05eSHi6gdPcqIaTSP5j3ZXky~GtlqNE-mlUb2V5~xvgTg9pSIs-5fd8lasaLa~DbupXCH-39hGgPRtaFwSXbjRs27-gnRjrm4MY0iVRZlY4pBapDMXk9SSvoyAvrL-VQPipJ~m543PMEXIFqoXaxXYAsr4AxEujHbkWM5yPoXYXcQilXYqkA1kh-M4hECkLReGkQ8LA9x3~od82x6f6HLcQBIo5cBcxUD67kH6AR8IAKw9Rzt10dlm9QmgCTyDmw0NBiBnf2CG0jRdfKFkVDWztkGP6Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}
.bg-img2 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/de74/916a/0706546dbf30c1008543d543c1e4de75?Expires=1698624000&Signature=YiwQDq-UQWbga8O0MIVmcwnyJ0WChXfV05lkMFGLFQOqaNduVGA0tArciqmgeAsY89aDV2D81Ajy0zEe6ki1hpuUTbLfyDu6AumnAkkcoT53ltXV5pmTP6zgLPpoP~I823MXAmGdn31JhnUiX2DfucRGL3ly98bNdiSQ9IhyFMdHBF5OAzLUm~JjOWxiZRv56iB66cI8z08izZpguGzKiHnAEZTwg6bX3UoMNIlxKNz4Tmzz1iPkNufXYs-yUlqNZrcnuRhEO1KD0h06kMo~rOWQBfvZGZdrWzvZykTMFNAoM5AaLro0FuL~-Cnx-fLvdqqTw3rs7dcfsLzUXMQWkw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}
.bg-img3 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/5d2f/ec45/eccda3f82c0a9a60eb6ebea1fd3ca355?Expires=1698624000&Signature=dia6vzggOnfkVj5E7Wf-SZ8i~02iMNOOGqyBYykpv8rjyZXmOLbSUTu5C8YL7ddjcGf1WCSM9BeRnTslFAbXD7q~Hvgs~0j18GIul-Jr69ApaAWW0oyDMoTscdTjgPj5x-oAb4R9h2sVJpWE39I4qnczhgykt7ZQw0WN9ZbxBnsr1r0x1c4vqS3IkP1uwNnYReaYDKMUw4SQoeQ~smshT~-w5XTWGCEcyW2Wqr7K5T9eipkg2LjE-veOUREU~kRc1BRFOdsJyFVmE0iK1CqvSahTJfB0xzNyIQ2mzQRPz6~hKV1MV7T7ZYpiaIeWmMJUVkFBzNsB7xTlE1cqKa0~Pw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}
.bg-img4 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/d047/baca/6cef27d6ebe4f8168dc11aba1a09aef9?Expires=1698624000&Signature=Uu-s8-O03tjt8HDLk2KrBTCWaEw~~FGqEQCzA-IJLPL51OANc3uzsk~-FF8pBkKli9S-a0hSDUidfk0MH~ogW2K1Jx9XLUVq2g1oJ~YgIgwfmw1WXE1b6KJZWBvdRFHKXTnXKLAEhBK9mCw1zxJvAFIrhCzdY3Ysx~B7H9jFzOj~-ClgosY8rTJVxD9~GY-xSxpWP4K10Jz8KJOVHJn9EH3fxeCv6VIGpkdOUVIR6SZQlI5D2Tnzpkvln3hBHuPa3KV-ZrnBQBx5WmYWaGBHoAXvM5FRE~KbUc2A30Kp8MjMiHgpmWY0haYV8Q164-wcwHkWYzAxfbDr8PlpDuNySA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}
.bg-img5 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/3c43/6e07/0511f11ea4748b1561976449ebdd5fd3?Expires=1698624000&Signature=mmVRukdb2NDmrlUvUgIRwjdZwGxyjZ3kJsPUGdTek1BlI2Vte0K-YeL5Id54Uc1f8SERnuh~8hSRYmv1ETqfrhk1qI7o54rmZZ2c2hEDzLKvUt2fJcqwwP-wvqchX1qD03SCFuATDTY941kdZp8nAxj3~RhsleK22OWikoirx9KASavRCHGd7129yIDALVic2vrkVtK2MgRQ2zKJF3uQz2cgjSNQ1HXWP0WtYaD7Y-J6rhjenmhFAL6HPTfYItNlrBwR4mtLL8obyNkGCjwnbae93-eY7d5MyYOOGxBHSdoU~IqlXfVRgigQWlEtfcNlx-ET9NHVdxGoYAxEO7Hrbw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}

.header-text {
  position: relative;
  top: 42%;
}

/* .line {
  width: 100%;
  height: 10px;
  background-color: #0057b2;
} */

.box {
  height: 500px;
  background-color: #0057b2;
}

@media screen and (max-width: 576px) {
  .bg-img-head {
    width: 100%;
    height: 670px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 100%,
        transparent 70%
      ),
      url("https://s3-alpha-sig.figma.com/img/5508/19d4/44ec6ea14c5cfc6ea46700b6652420b2?Expires=1679270400&Signature=gItPKlG3wE8~JB6VbwsomSxfbGE~76h27OkIvVS4aVIcw75AozkSP~YS6Mt1UGeXuDxkf8aOTp5~drxHktmDfUgBXIOpoatSZhSzlgmr27pEtVwjuX2q6gRV86iVr62ntu19REcu8JL8hPzJWLOJ1jWK2Nav4kJ0aXT1aFA6OXp2kLL0sxOte0lgyNMHwdjvm6-SpMXd~LtAi5~VPN0VwpB6mJE3tIIr4wGy8~dRATtYOFQ-xFd6PtbmU8saaSXliBbYKNlsSXOopyMLnk6IrpCCL7weFSptfuM0kbvIIscK1z4FqHLyUikHfyhuE3boquIvt38CJc5NowuevwtB-Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;
  }

  .box {
    height: 400px;
    background-color: #0057b2;
  }

  .box-text {
    height: 350px;
    background-color: #0057b2;
  }

  .mb-order-1 {
    order: 1;
  }

  .mb-order-2 {
    order: 2;
  }

  .mb-order-3 {
    order: 3;
  }

  .mb-order-4 {
    order: 4;
  }
}
