<div class="bg" id="footer">
  <div class="bg-footer" >
    <br /><br />
    <footer class="bd-footer p-lg-5 text-white">
      <div class="container p-lg-5 mb-5 px-4 px-md-3">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <div
              data-aos="zoom-out"
              data-aos-delay="100"
              data-aos-duration="500"
            >
              <img/>
            </div>
            <ul class="list-unstyled small text-muted">
              <li
                class="mb-2 mt-3 fs-xxl-6 fs-lg-5"
                style="color: white"
                data-aos="fade-right"
                data-aos-delay="100"
                data-aos-duration="500"
              >
                Designed and built for whoever sad and want to find some place
                for chilling
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 offset-lg-1 mb-3">
            <h5 class="fst-italic orange fw-bold fs-4" data-aos="fade-down">
              Navigation
            </h5>
            <ul
              class="list-unstyled"
              data-aos="fade-right"
              data-aos-delay="300"
            >
              <li class="mb-2 fs-xxl-6 fs-lg-5">
                <a routerLink="/home">Home</a>
              </li>
              <li class="mb-2 fs-xxl-6 fs-lg-5">
                <a routerLink="/explore">My Room</a>
              </li>
              <li class="mb-2 fs-xxl-6 fs-lg-5">
                <a routerLink="/about-us">Restaurant</a>
              </li>
              <li class="mb-2 fs-xxl-6 fs-lg-5">
                <a routerLink="/about-us" fragment="contact">Services</a>
              </li>
              <li class="mb-2 fs-xxl-6 fs-lg-5">
                <a routerLink="/about-us" fragment="contact">Meeting and Event</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-3 mb-3">
            <h5 class="fst-italic orange fw-bold fs-4" data-aos="fade-down">
              Information
            </h5>
            <ul
              class="list-unstyled"
              data-aos="fade-right"
              data-aos-delay="500"
            >
              <li class="mb-2">
                <p class="fs-xxl-6 fs-lg-5">
                  Web Technology and Cloud Final Project Semester l (Front-End)
                </p>
              </li>
              <li class="mb-2 fs-xxl-6 fs-lg-5">
                <p>
                  Student | Chhith Vattana <br />
                  Lecturer | Chhim Bunchhun
                </p>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-3 mb-3">
            <h5 class="fst-italic orange fw-bold fs-4" data-aos="fade-down">
              Contact
            </h5>
            <ul
              class="list-unstyled"
              data-aos="fade-right"
              data-aos-delay="500"
            >
              <li class="mb-2 fs-xxl-6 fs-lg-5">
                <p>
                  vattana.chhith@gmail.com <br />
                  +855 98721143 <br />
                  +855 12561832 <br />
                  <br />
                  RUPP Auditorium, Russian Federation Blvd (110), Phnom Penh,
                  Cambodia
                  <br />
                </p>
                <a
                  href="https://www.facebook.com/profile.php?id=100010097533359"
                  class=""
                  ><i class="bi bi-facebook me-3"></i
                ></a>
                <a href="https://www.instagram.com/chhithvatana/" class=""
                  ><i class="bi bi-instagram me-3"></i
                ></a>
                <a
                  href="https://www.linkedin.com/in/vattana-chhith-8a7754260/"
                  class=""
                  ><i class="bi bi-linkedin me-3"></i
                ></a>
                <a href="https://github.com/ChhithVattana" class=""
                  ><i class="bi bi-github me-3"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
