a {
  color: white;
}

.orange {
  color: white;
}
.bg {
  width: 100%;
  background-color: #002449
}
img {
  content: url("../../assets/Hotel-Main-White-2.png") !important;
  object-fit: contain;
  width: 270px;
  height: 96px;
}

.bg-footer {
  overflow-y: hidden;
}
footer {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.footer-res{
  justify-content: space-between;
}
