<div class="carousel">
  <div
    class="slide"
    *ngFor="let image of images; let i = index"
    [class.active]="isCurrentIndex(i)"
  >
    <img src="{{ image }}" alt="Slide {{ i }}" />
  </div>
  <div class="bg w-100 h-100 position-relative">
    <div class="container px-xxl-auto px-4 position-relative">
      <div class="row">
        <div class="col-xxl-7">
          <div class="content">
            <h2 class="fs-46 fs-sm-34 fw-700 text-white mb-4">MALLIKA D'HOTEL</h2>
            <p class="fs-link fs-sm-16 text-white">
              Our Hotels remain stylish, modern, forward thinking global leader
              of hospitality and we help make traveling easier with our smart
              design, innovative concepts, unique activities and authentic
              hospitality.
            </p>
            <button
              class="btn btn-white hover-blue text-white fs-content fw-600 px-4 mt-3"
            >
              More Info
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
