.bg-img-head {
  width: 100%;
  height: 550px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/c1c0/05c1/090c9df2b00741c6a7a77659a4cab1ae?Expires=1678060800&Signature=KvmT-WZxPYkX8t3hOzH~k0grRcvnlQ2JpsIpMWHZxG-lF6LH3yu5IwOO~RNIEHmG6MytKzRZAzVlWFUgqQJiKWtUaPlF2jHXmNRRDRVm35EdcZiT7QTTpZ575eWiMafHh~TlF8FntwDSzevHoYH9oPvdzviB7MuF25N3nS5UQTTdD0dQs5AL-xSEMeGoqMBSyxns6Jevb4n9Qxj8uW2-XmDKcMA2F1e4cjEZbRQIvHdfJFSsL6rtZDBgUDyakX3TadZpGo54bCER8OGsm0X6CfXwvMo1~sB6bAOq9zAFq0xskeC9rmb3LMwveiMuJQGZXSgO4bjZWOFf7nEj1wSahA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 90%;
}

.header-text {
  position: relative;
  top: 45%;
}

.line {
  width: 100%;
  height: 10px;
  background-color: #0057b2;
}


/* slider click */


.img {
  width: 100%;
  height: 400px;
}

.img img {
  object-fit: fill;
  width: 100%;
  height: 400px;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: -67px;
  width: auto;
  padding: 25px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: -67px;
  width: auto;
  padding: 25px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(222, 222, 222, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.mb-img{
  width: 100%;
  height: 500px;
}

