.bg-img-head {
  width: 100%;
  height: 550px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/9dce/a97b/6a08b9dba9e5f56d5e35adba79b34390?Expires=1679270400&Signature=AHYzxHF4TRrrqGm5DHhGhckmTPWyRdFLVSOUc-NwhbQbOSN4nensRUf-gK6wF2Cmjnf88msvVAwy2QIh7kI8zXQeJNB3rPqnFC3ecQ0rLyWI70Xwu0p~60CiPd87nh9Ehy9TIzg-6he1hIJPAbyvTao7Uc37vW18RINW3oJzTwna7BnWd6B9HmDyXugV-OJ8jvmPE~jBUYs2OfwhhWNeG9BJRbc9rgXfSzDzyJEtP6NCRDanWsz~93kXXK7obRN9FYMBKpIzLzPpjEY4276er-5Od6hVwGvZJ4YypYfCuCLnqOrJ3h1D5jeTC3HE8naMLShgpnelr6~a4~ksqWBVqg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 90%;
}

.header-text {
  position: relative;
  top: 45%;
}

.line {
  width: 100%;
  height: 10px;
  background-color: #0057b2;
}

/* slider click */

.img {
  width: 100%;
  height: 400px;
}

.img img {
  object-fit: fill;
  width: 100%;
  height: 400px;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: -67px;
  width: auto;
  padding: 25px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: -67px;
  width: auto;
  padding: 25px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(222, 222, 222, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.active,
.demo:hover {
  opacity: 1;
}

.mb-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.bottom-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

@media screen and (max-width: 576px) {
  .bg-img-head {
    width: 100%;
    height: 450px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 100%,
        transparent 70%
      ),
      url("https://s3-alpha-sig.figma.com/img/9dce/a97b/6a08b9dba9e5f56d5e35adba79b34390?Expires=1679270400&Signature=AHYzxHF4TRrrqGm5DHhGhckmTPWyRdFLVSOUc-NwhbQbOSN4nensRUf-gK6wF2Cmjnf88msvVAwy2QIh7kI8zXQeJNB3rPqnFC3ecQ0rLyWI70Xwu0p~60CiPd87nh9Ehy9TIzg-6he1hIJPAbyvTao7Uc37vW18RINW3oJzTwna7BnWd6B9HmDyXugV-OJ8jvmPE~jBUYs2OfwhhWNeG9BJRbc9rgXfSzDzyJEtP6NCRDanWsz~93kXXK7obRN9FYMBKpIzLzPpjEY4276er-5Od6hVwGvZJ4YypYfCuCLnqOrJ3h1D5jeTC3HE8naMLShgpnelr6~a4~ksqWBVqg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 40%;
  }

  .mb-img {
    width: 100%;
    height: 175px;
    object-fit: cover;
  }

  .bottom-img {
    width: 100%;
    height: 80px;
    object-fit: cover;
  }

}
