<div class="service-content overflow-hidden">
  <div class="bg-img-head position-relative">
    <div class="header-text text-white">
      <h1 class="fw-bold fs-64 fs-sm-34 text-center">RELAX AND INDULGE</h1>
    </div>
  </div>
  <div class="line"></div>
  <div class="bg-whtie">
    <div class="container px-xxl-auto px-4">
      <div class="row py-6 px-6">
        <h1 class="fs-46 fs-sm-34 fw-700 mb-xxl-5 my-xxl-auto my-3">Swimmgin Pool</h1>
        <p class="fs-content fs-sm-16">
          Our fitness centre, equipped with free weights and cardio machines, is
          the perfect place to work up a sweat. It doesn't matter if you're here
          for work or play, you'll still be able to top off your stay with an
          extra bit of an endorphin rush.
        </p>
        <div class="fs-content fs-sm-16 py-6 my-xxl-auto my-3">
          <p><i class="bi bi-clock-fill pe-3 blue"></i><b>Opeing Hour:</b> DAILY 6AM- 10PM</p>
          <p><i class="bi bi-geo-alt-fill pe-3 blue"></i><b>Location:</b> Floor 5th</p>
          <p><i class="bi bi-info-circle-fill pe-3 blue"></i><b>Area Size:</b> 443 sqm</p>
        </div>
      </div>
      <div class="row text-center px-7">
        <div class="container p-0">
          <!-- Active image or big image -->
          <div class="mySlides" style="display: block">
            <img
              src="https://s3-alpha-sig.figma.com/img/d260/424b/301ae3bfba935a93969efb762b224eb2?Expires=1679270400&Signature=avZ8qxg3LbZo9gZ00S0aPmx0aM8xTiwCygXZQinb~FZ~eb8DNwuoDuUgttjC9wjggl6Izv68DSD5J-tkDvz7Fh~e5eoTSEqYPXDqBecOOlMyeYyizd6Ir~nDQadmqNpPiN9F5IrCag1WHlYJW0L8gsixa6IFBpAVvXmY9KVtYT-~~nT5qATA-ZH80h6~vmVZswl67NS9lRjE6ZnDNyysDoKT~eMiwK1Wni10O4lKBeO~KcpG3Kym5ZZkzexb5zxOMzNgSzz3gJRX5ac8LtZmytdHOj9z15V-hlgjh34DziXn1yKMBBQu0XYp0RLmmZVNkzGCPYBXthxS0LInT85usg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              class="mb-img"
            />
          </div>

          <!-- Unactive Image ignore the first one -->
          <div class="mySlides" *ngFor="let item of [1, 2, 3] | slice : 1">
            <img
              src="https://s3-alpha-sig.figma.com/img/fee3/781e/d7826d80d7aa3a7bcc81afffe78870d4?Expires=1679270400&Signature=WFAvFlafHq9WwST0lwLsrnDEU7QvMJtUfL4h7~UoZRLTHPX-jRit0o6W4oALWmDQQwa~avtrGCEy~X0f7yJJ8TCrkQRPzG~rv-SDuSts8MLTWlew9k5lOYW6r-JiU1kic~r890PmbAf5eZ6SFYwwfu2mNaeJogR6vMZ1Bv4BwgANUOK2ueHmk81xYpGsXs4FFslbZOiggyswIclQqyT2613HKxB0mi4xPiOjDNFyL6pmbvOHtBnLMXP6zkSJ6EFnObJoWgIdhOuKcGZ8aMxCdOGUDwRrysK4Vx3jBDbk2GvhaCliRt6nIlIvSibg0EN0l8FD2mgrwuEw6xg9Hs5G-A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              class="mb-img"
            />
          </div>

          <!-- Next and previous buttons -->
            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>

          <!-- bottom img -->
          <div class="row pt-xxl-1 px-2 mb-xxl-5">
            <div class="col bottom-img p-1" *ngFor="let item of [1, 2, 3]; index as i">
              <img
                class="demo cursor"
                src="https://s3-alpha-sig.figma.com/img/d260/424b/301ae3bfba935a93969efb762b224eb2?Expires=1679270400&Signature=avZ8qxg3LbZo9gZ00S0aPmx0aM8xTiwCygXZQinb~FZ~eb8DNwuoDuUgttjC9wjggl6Izv68DSD5J-tkDvz7Fh~e5eoTSEqYPXDqBecOOlMyeYyizd6Ir~nDQadmqNpPiN9F5IrCag1WHlYJW0L8gsixa6IFBpAVvXmY9KVtYT-~~nT5qATA-ZH80h6~vmVZswl67NS9lRjE6ZnDNyysDoKT~eMiwK1Wni10O4lKBeO~KcpG3Kym5ZZkzexb5zxOMzNgSzz3gJRX5ac8LtZmytdHOj9z15V-hlgjh34DziXn1yKMBBQu0XYp0RLmmZVNkzGCPYBXthxS0LInT85usg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                style="width: 100%; height: 100%"
                (click)="currentSlide(i + 1)"
                alt="The Pool"
              />
            </div>
          </div>
        </div>
      </div>
      <app-OurService></app-OurService>
    </div>
  </div>
</div>
