<div class="home">
  <div class="bg-blue">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6">
          <div class="row p-5">
            <div class="col-xxl-6 p-1">
              <div class="img img-1 my-xxl-2">aaa</div>
              <div class="img img-2 my-xxl-2">aaa</div>
            </div>
            <div class="col-xxl-6 p-1">
              <div class="img img-3 my-xxl-2">aaa</div>
              <div class="img img-4 my-xxl-2">aaa</div>
            </div>
          </div>
        </div>
        <div class="col-xxl-6">
          <div class="row py-5 pe-6 my-xxl-2">
            <h2 class="fw-bold py-5 mt-5 blue">
              WELCOME TO SUNWAY HOTEL PHNOM PENH
            </h2>
            <p class="fs-content">
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
            </p>
            <div class="mt-3">
              <button type="button" class="btn fs-content px-4 blue fw-bold">
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container pb-5">
      <div class="row px-5 pt-5 pb-2">
        <div class="text-center">
          <h2 class="blue fw-bold">BOOK DIRECT 7 SAVE BENEFITS</h2>
          <p class="fs-content px-7 py-2">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
            fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
          </p>
        </div>
      </div>
      <div class="row px-6">
        <div class="col-xxl-2 px-0">
          <div class="box mx-auto">
            <div class="col-12 py-3 pt-5">
              <div class="icon mx-auto"></div>
            </div>
            <div class="col-12 py-3 pt-2 px-3">
              <p class="text-center">EXCLUSIVE MEMBERS RATE</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-2 px-0">
          <div class="box mx-auto">
            <div class="box mx-auto">
              <div class="col-12 py-3 pt-5">
                <div class="icon mx-auto"></div>
              </div>
              <div class="col-12 py-3 pt-2 px-3">
                <p class="text-center">DINING DEALS</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-2 px-0">
          <div class="box mx-auto">
            <div class="box mx-auto">
              <div class="col-12 py-3 pt-5">
                <div class="icon mx-auto"></div>
              </div>
              <div class="col-12 py-3 pt-2 px-3">
                <p class="text-center">BIRTHDAY MONTH TREAT</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-2 px-0">
          <div class="box mx-auto">
            <div class="box mx-auto">
              <div class="col-12 py-3 pt-5">
                <div class="icon mx-auto"></div>
              </div>
              <div class="col-12 py-3 pt-2 px-3">
                <p class="text-center">LATE CHECK - OUT</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-2 px-0">
          <div class="box mx-auto">
            <div class="box mx-auto">
              <div class="col-12 py-3 pt-5">
                <div class="icon mx-auto"></div>
              </div>
              <div class="col-12 py-3 pt-2 px-3">
                <p class="text-center">WELCOME FRUIT IN ROOM</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-2 px-0">
          <div class="box mx-auto">
            <div class="box mx-auto">
              <div class="col-12 py-3 pt-5">
                <div class="icon mx-auto"></div>
              </div>
              <div class="col-12 py-3 pt-2 px-3">
                <p class="text-center">EARLY CHECK - IN</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-blue">
    <div class="container">
      <div class="row p-5">
        <div class="d-flex">
          <h2 class="fw-700 blue" style="width: 322.22px;">Our Rooms</h2>
          <hr
            style="
              width: 50%;
              height: 2px;
              border-width: 1px;
              border-color: black;
              opacity: 1;
            "
            class="mx-5"
          />
          <a href="" style="text-decoration: none">
            <div class="fs-link blue" style="font-weight: 600">
              View All <i class="bi bi-arrow-right"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-Rooms></app-Rooms>
  <app-MeetingAndEvents></app-MeetingAndEvents>
</div>
