<div class="allpage overflow-hidden">
  <div class="row h-100 p-0 m-0">
    <div class="menu-size h-100 p-0">
      <app-MenuPage></app-MenuPage>
    </div>
    <div class="col ms-2 h-100 p-0 scroll">
      <div class="row p-0 m-0 w-100" style="height: 10%">
        <div class="border size rounded bg-white"></div>
      </div>
      <div class="row p-0 m-0 w-100" style="height: 87.7vh">
        <div class="size1 border rounded bg-white">
          <div class="row p-0 m-0">
            <div class="p-0 position-relative d-flex justify-content-between">
              <div>
                <p class="fs-32 fw-700">All Room Types</p>
              </div>
              <div>
                <button
                  type="button"
                  class="btn hover-blue dblue py-2 px-3"
                  (click)="onClickAddRoomType()"
                >
                  <div class="d-flex position-relative justify-content-between">
                    <div class="icon my-auto"></div>
                    <div class="fs my-auto mx-1 fw-600">Add Room Type</div>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="table borders">
            <table id="customers">
              <tr class="fw-600">
                <th>No</th>
                <th>RoomType</th>
                <th>Bed Type</th>
                <th>Floor</th>
                <th>Guest</th>
                <th>Price($)</th>
                <th class="text-center">Status</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Master Room</td>
                <td>Sing Bed</td>
                <td>Ground Floor</td>
                <td>2</td>
                <td>300.00</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="add d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-add"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Master Room</td>
                <td>Sing Bed</td>
                <td>Ground Floor</td>
                <td>2</td>
                <td>300.00</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="add d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-add"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Master Room</td>
                <td>Sing Bed</td>
                <td>Ground Floor</td>
                <td>2</td>
                <td>300.00</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="add d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-add"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>Master Room</td>
                <td>Sing Bed</td>
                <td>Ground Floor</td>
                <td>2</td>
                <td>300.00</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="add d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-add"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>Master Room</td>
                <td>Sing Bed</td>
                <td>Ground Floor</td>
                <td>2</td>
                <td>300.00</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="add d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-add"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>Master Room</td>
                <td>Sing Bed</td>
                <td>Ground Floor</td>
                <td>2</td>
                <td>300.00</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="add d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-add"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>7</td>
                <td>Master Room</td>
                <td>Sing Bed</td>
                <td>Ground Floor</td>
                <td>2</td>
                <td>300.00</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="add d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-add"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>8</td>
                <td>Master Room</td>
                <td>Sing Bed</td>
                <td>Ground Floor</td>
                <td>2</td>
                <td>300.00</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="add d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-add"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>9</td>
                <td>Master Room</td>
                <td>Sing Bed</td>
                <td>Ground Floor</td>
                <td>2</td>
                <td>300.00</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="add d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-add"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>10</td>
                <td>Master Room</td>
                <td>Sing Bed</td>
                <td>Ground Floor</td>
                <td>2</td>
                <td>300.00</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="add d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-add"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
