<div class="content overflow-hidden">
  <div class="bg-img-head position-relative">
    <div class="container">
      <div class="text-white">
        <h1 class="fw-bold fs-64 fs-sm-34 header-text">Luncheon</h1>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="bg-white">
    <div class="container px-xxl-0 px-4">
      <div class="pt-6 pb-0">
        <div class=" px-xxl-auto px-0">
          <p class="blue fw-600 fs-28 fs-sm-20 mb-xxl-5 my-3 text-center">BEST MEETING ROOM PHNOM PENH</p>
          <p class="fs-content fs-sm-16 px-7">
            The essence of conversations over lunch is its core and each issue is constructed as if a menu.
            Over the lunch table, the magazine brings together different generations whos share opinions,
            stories and memories, offering us an insight into their unique cultural contributions.
            It have a magazine mixing art, fashion and food. Free spirited in its content this biannual magazine offers
            readers a generous feast for the eyes and the mind.
          </p>
        </div>
        <div class="row p-xxl-5 px-6">
          <div class="col-xxl-4 mb-xxl-auto mb-3">
            <div class="img">
              <img class="img-1" />
            </div>
          </div>
          <div class="col-xxl-4 mb-xxl-auto mb-3">
            <div class="img">
              <img class="img-2" />
            </div>
          </div>
          <div class="col-xxl-4 mb-xxl-auto mb-3">
            <div class="img">
              <img class="img-3" />
            </div>
          </div>
        </div>
      </div>
      <div class="row fs-content fs-sm-16 text-center my-xxl-auto my-4">
        <div class="col-xxl-1"></div>
        <p class="col-xxl-3 text-end ms-xxl-4">
          <i class="bi bi-clock-fill pe-3 blue"></i><b>Guest: </b>
          25 people
        </p>
        <p class="col-xxl-3 text-center">
          <i class="bi bi-geo-alt-fill pe-3 blue"></i><b>Location:</b>
          Floor 5th
        </p>
        <p class="col-xxl-3 text-start">
          <i class="bi bi-info-circle-fill pe-3 blue"></i><b>Area Size:</b>
          443 sqm
        </p>
      </div>
      <div class="row py-6 text-center fs-sm-16 fs-content">
        <p><b>Phone Number:</b> +855 (0)81 920 999</p>
        <p><b>Email:</b> piseychou1@gmail.com</p>
        <p><b>Event Sales Manager:</b> Pisey</p>
      </div>
    </div>
    <app-MeetingAndEvents></app-MeetingAndEvents>
  </div>
</div>
