<div class="content">
  <div class="bg-img-head position-relative">
    <div class="container">
      <div class="text-white">
        <h1 class="fw-bold fs-64 header-text">Grand Ballroom</h1>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="bg-white">
    <div class="container">
      <div class="row pt-6 pb-0">
        <div class="text-center">
          <p class="blue fw-600 fs-28 mb-5">BEST MEETING ROOM PHNOM PENH</p>
          <p class="fs-content px-7">
            Plan your next memorable event with our choice of packages. Sofitel
            Phnom Penh Phokeethra stands out as the best meeting room in Phnom
            Penh. With the 1430 square meters, our Grand Ballroom can
            accommodate up to 1600 persons. Also, the Grand Ballroom features
            the latest electronic, sound and light technology. Whether you are
            arranging wedding, anniversary, Gala Dinner, reception, conference,
            staff party, exhibition or product launching, our Grand Ballroom can
            serve every purposes. Elevate your meeting experience with our
            upgraded meeting room including the most recent innovation with
            giant LED screen.
          </p>
        </div>
        <div class="row p-5 px-6">
          <div class="col-xxl-4" *ngFor="let item of [1, 2, 3]">
            <div class="img">
              <img class="img-1" />
            </div>
          </div>
        </div>
      </div>
      <div class="row fs-content text- center">
        <div class="col-xxl-1"></div>
        <p class="col-xxl-3 text-end ms-4">
          <i class="bi bi-clock-fill pe-3 blue"></i><b>Guest: </b>
          25 people
        </p>
        <p class="col-xxl-3 text-center">
          <i class="bi bi-geo-alt-fill pe-3 blue"></i><b>Location:</b>
          Floor 5th
        </p>
        <p class="col-xxl-3 text-start">
          <i class="bi bi-info-circle-fill pe-3 blue"></i><b>Area Size:</b>
          443 sqm
        </p>
      </div>
      <div class="row py-6 text-center fs-content">
        <p><b>Phone Number:</b> 855 (0)81 920 999</p>
        <p><b>Email:</b> piseychou1@gmail.com</p>
        <p><b>Event Sales Manager:</b> Pisey</p>
      </div>
    </div>
    <app-MeetingAndEvents></app-MeetingAndEvents>
  </div>
</div>
