<div class="allpage overflow-hidden">
  <div class="row h-100 p-0 m-0">
    <div class="col-2 h-100 p-0">
      <app-MenuPage></app-MenuPage>
    </div>
    <div class="col-10 h-100 p-0 scroll">
      <div class="row p-0 m-0 w-100" style="height: 10%">
        <div class="border size rounded bg-white"></div>
      </div>
      <div class="row p-0 m-0 w-100" style="height: 90%">
        <div class="size1 border rounded bg-white">
          <div class="d-flex">
            <div class="fw-600 hover" (click)="onClickBack()">Reservation</div>
            <div class="mx-3">></div>
            <div class="fw-600 l-gray">Add New Reservation</div>
          </div>
          <div class="row p-0 m-0">
            <div class="p-0 position-relative d-flex">
              <div>
                <p class="fs-32 fw-700 my-2">
                  <i
                    class="bi bi-arrow-left-short hover"
                    (click)="onClickBack()"
                  ></i
                  >Add New Reservation
                </p>
              </div>
            </div>
          </div>
          <div class="px-4 py-4 d-flex flex-column justify-content-between">
            <!-- for flex fix -->
            <div class="col-md-12 col">
              <div class="d-flex flex-md-row flex-column my-0 my-md-3">
                <div class="me-md-4 me-0 col-md-4 col my-2 my-md-0 flex-fill">
                  <p class="mb-2">Date of Birth</p>
                  <mat-form-field appearance="fill" class="col-md-12 col">
                    <mat-label>MM/DD/YYYY</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker2"
                      formControlName="date1"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker2"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="me-md-4 me-0 col-md-4 col my-2 my-md-0 flex-fill">
                  <p class="mb-2">Date-In</p>
                  <mat-form-field appearance="fill" class="col-md-12 col">
                    <mat-label>MM/DD/YYYY</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      class="bg-blue"
                      formControlName="date"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="me-md-4 me-0 col-md-4 col my-2 my-md-0 flex-fill">
                  <p class="mb-2">Room Type</p>
                  <div>
                    <select
                      class="form-select py-md-3"
                      aria-label="Default select example"
                    >
                      <option selected>Select Room Type</option>
                      <option value="1">Master Room</option>
                      <option value="2">Prime Room</option>
                      <option value="3">Family Room</option>
                      <option value="4">Executive Room</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-md-row flex-column my-0 my-md-3">
                <div class="me-md-4 me-0 col-md-4 col my-2 my-md-0 flex-fill">
                  <p class="mb-2">Room Number</p>
                  <div>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Select Room Number</option>
                      <option value="1">Master Room</option>
                      <option value="2">Prime Room</option>
                      <option value="3">Family Room</option>
                      <option value="4">Executive Room</option>
                    </select>
                  </div>
                </div>
                <div class="me-md-4 me-0 col-md-4 col my-2 my-md-0 flex-fill">
                  <p class="mb-2">Capacity</p>
                  <div>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Select Capacity</option>
                      <option value="1">Master Room</option>
                      <option value="2">Prime Room</option>
                      <option value="3">Family Room</option>
                      <option value="4">Executive Room</option>
                    </select>
                  </div>
                </div>
                <div class="me-md-4 me-0 col-md-4 col my-2 my-md-0 flex-fill">
                  <p class="mb-2">Client Name</p>
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                    />
                  </div>
                </div>
              </div>
              <div class="d-flex flex-md-row flex-column my-0 my-md-3">
                <div class="me-md-4 me-0 col-md-4 col my-2 my-md-0 flex-fill">
                  <p class="mb-2">Phone</p>
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                    />
                  </div>
                </div>
                <div class="me-md-4 me-0 col-md-4 col my-2 my-md-0 flex-fill">
                  <p class="mb-2">Email</p>
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                    />
                  </div>
                </div>
                <div class="me-md-4 me-0 col-md-4 col my-2 my-md-0 flex-fill">
                  <p class="mb-2">Payment Type</p>
                  <div>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Select Payment Type</option>
                      <option value="1">Cash</option>
                      <option value="2">Visa</option>
                      <option value="3">KHQR</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex mt-3">
              <div>
                <button
                  type="button"
                  class="btn hover-blue dblue py-2 px-3 me-3"
                  (click)="onClickAddNewRoom()"
                >
                  <div class="d-flex position-relative justify-content-between">
                    <div class="icon my-auto"></div>
                    <div class="fs my-auto mx-1 fw-600">Add Reservation</div>
                  </div>
                </button>
              </div>
              <div>
                <button
                  type="button"
                  class="btn btn-red hover-dred red py-2 px-3"
                  (click)="onClickBack()"
                >
                  <div class="d-flex position-relative justify-content-between">
                    <div class="fs my-auto mx-2 px-3 fw-600">Cancel</div>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
