<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<div class="bg-color content rounded">
  <div class="py-5 px-3">
    <div class="image"></div>
  </div>
  <div class="container">
    <p class="mb-1 text-white">Menu</p>
    <hr class="mt-1 mb-3" style="color: #fff"/>
    <div class="row">
      <button class="hover1 btn" (click)="onClickAllRoom()">
        <div class="d-flex position-relative">
          <div class="col-2 d-flex justify-content-center position-relative">
            <span class="icon my-auto"></span>
          </div>
          <div class="text-white col-8 ps-3 text-start">Dashboard</div>
          <div
            class="text-white fw-600 col-2 position-relative d-flex justify-content-center"
          >
            <span
              class="text-white material-symbols-outlined colorgray chevron_rightsize"
            >
              chevron_right
            </span>
          </div>
        </div>
      </button>
    </div>
    <div class="row">
      <button class="hover1 btn" (click)="onClickAllRoom()">
        <div class="d-flex position-relative">
          <div class="col-2 d-flex justify-content-center position-relative">
            <span class="icon my-auto"></span>
          </div>
          <div class="text-white col-8 ps-3 text-start">All Rooms</div>
          <div
            class="text-white fw-600 col-2 position-relative d-flex justify-content-center"
          >
            <span
              class="text-white material-symbols-outlined colorgray chevron_rightsize"
            >
              chevron_right
            </span>
          </div>
        </div>
      </button>
    </div>
    <div class="row">
      <button class="hover1 btn" (click)="onClickRoomType()">
        <div class="d-flex position-relative">
          <div class="col-2 d-flex justify-content-center position-relative">
            <span class="icon my-auto"></span>
          </div>
          <div class="text-white col-8 ps-3 text-start">Room Type</div>
          <div
            class="text-white fw-600 col-2 position-relative d-flex justify-content-center"
          >
            <span
              class="text-white material-symbols-outlined colorgray chevron_rightsize"
            >
              chevron_right
            </span>
          </div>
        </div>
      </button>
    </div>
    <div class="row">
      <button class="hover1 btn" (click)="onClickReservation()">
        <div class="d-flex position-relative">
          <div class="col-2 d-flex justify-content-center position-relative">
            <span class="icon my-auto"></span>
          </div>
          <div class="text-white col-8 ps-3 text-start">Reservation</div>
          <div
            class="text-white fw-600 col-2 position-relative d-flex justify-content-center"
          >
            <span
              class="text-white material-symbols-outlined colorgray chevron_rightsize"
            >
              chevron_right
            </span>
          </div>
        </div>
      </button>
    </div>
    <div class="row">
      <button class="hover1 btn" (click)="onClickEmployee()">
        <div class="d-flex position-relative">
          <div class="col-2 d-flex justify-content-center position-relative">
            <span class="icon my-auto"></span>
          </div>
          <div class="text-white col-8 ps-3 text-start">Employees</div>
          <div
            class="text-white fw-600 col-2 position-relative d-flex justify-content-center"
          >
            <span
              class="text-white material-symbols-outlined colorgray chevron_rightsize"
            >
              chevron_right
            </span>
          </div>
        </div>
      </button>
    </div>
    <div class="row">
      <button class="hover1 btn" (click)="onClickBilling()">
        <div class="d-flex position-relative">
          <div class="col-2 d-flex justify-content-center position-relative">
            <span class="icon my-auto"></span>
          </div>
          <div class="text-white col-8 ps-3 text-start">Billing</div>
          <div
            class="text-white fw-600 col-2 position-relative d-flex justify-content-center"
          >
            <span
              class="text-white material-symbols-outlined colorgray chevron_rightsize"
            >
              chevron_right
            </span>
          </div>
        </div>
      </button>
    </div>
    <div class="row mt-3">
      <p class="mb-1 text-white">More</p>
    </div>
    <hr class="mt-1 mb-3" style="color: #fff"/>
    <div class="row">
      <button class="hover1 btn" (click)="onClickAllReport()">
        <div class="d-flex position-relative">
          <div class="col-2 d-flex justify-content-center position-relative">
            <span class="icon my-auto"></span>
          </div>
          <div class="text-white col-8 ps-3 text-start">Report</div>
        </div>
      </button>
    </div>
    <div class="row">
      <button class="hover1 btn" (click)="onClickUser()">
        <div class="d-flex position-relative">
          <div class="col-2 d-flex justify-content-center position-relative">
            <span class="icon my-auto"></span>
          </div>
          <div class="text-white col-8 ps-3 text-start">User</div>
        </div>
      </button>
    </div>
    <div class="row">
      <button class="hover1 btn" (click)="onClickLogout()">
        <div class="d-flex position-relative">
          <div class="col-2 d-flex justify-content-center position-relative">
            <span class="icon8 my-auto"></span>
          </div>
          <div class="text1 col-8 ps-3 text-start">Logout</div>
        </div>
      </button>
    </div>
  </div>
</div>
