<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<div class="bg-color content rounded">
  <div class="top">
    <div class="image"></div>
  </div>
  <div class="interface container">
    <p>Menu</p>
    <hr />
    <div class="container">
      <div class="row">
        <button class="hover1 btn">
          <div class="row">
            <div class="col-2">
              <div class="icon"></div>
            </div>
            <div class="col-4 text">DashBoard</div>
            <div class="col-6 ps-5 " >
              <span class="material-symbols-outlined colorgray chevron_rightsize">
                chevron_right
              </span>
            </div>
          </div>
        </button>
      </div>

      <div class="row">
        <button class="hover1 btn">
          <div class="row">
            <div class="col-2">
              <div class="icon1 pt-2"></div>
            </div>
            <div class="col-4 text">All&nbsp;Rooms</div>
            <div class="col-6 ps-5">
              <span class="material-symbols-outlined colorgray chevron_rightsize">
                chevron_right
              </span>
            </div>
          </div>
        </button>
      </div>

      <div class="row">
        <button class="hover1 btn">
          <div class="row">
            <div class="col-2">
              <div class="icon2"></div>
            </div>
            <div class="col-4 text">Room&nbsp;Type</div>
            <div class="col-6 ps-5">
              <span class="material-symbols-outlined colorgray chevron_rightsize">
                chevron_right
              </span>
            </div>
          </div>
        </button>
      </div>

      <div class="row">
        <button class="hover1 btn">
          <div class="row">
            <div class="col-2">
              <div class="icon3"></div>
            </div>
            <div class="col-4 text">Reservation</div>
            <div class="col-6 ps-5">
              <span class="material-symbols-outlined colorgray chevron_rightsize">
                chevron_right
              </span>
            </div>
          </div>
        </button>
      </div>

      <div class="row">
        <button class="hover1 btn">
          <div class="row">
            <div class="col-2">
              <div class="icon4"></div>
            </div>
            <div class="col-4 text">Employees</div>
            <div class="col-6 ps-5">
              <span class="material-symbols-outlined colorgray chevron_rightsize">
                chevron_right
              </span>
            </div>
          </div>
        </button>
      </div>

      <div class="row">
        <button class="hover1 btn">
          <div class="row">
            <div class="col-2">
              <div class="icon5"></div>
            </div>
            <div class="col-4 text">Billing</div>
            <div class="col-6 ps-5">
              <span class="material-symbols-outlined colorgray chevron_rightsize"> chevron_right </span>
            </div>
          </div>
        </button>
      </div>
    </div>

    <div class="more">
      <p>More</p>
      <hr />
      <div class="container">
        <div class="row">
          <button class="hover1 btn colorgray">
            <div class="row">
              <div class="col-2">
                <div class="icon6"></div>
              </div>
              <div class="col-4 text">Report</div>
            </div>
          </button>
        </div>

        <div class="row">
          <button class="hover1 btn colorgray">
            <div class="row">
              <div class="col-2">
                <div class="icon7"></div>
              </div>
              <div class="col-4 text">User</div>
            </div>
          </button>
        </div>

        <div class="row">
          <button class="hover1 btn colorgray">
            <div class="row">
              <div class="col-2">
                <div class="icon8"></div>
              </div>
              <div class="col-4 text1">Logout</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
