/* *{
  outline: red 1px dashed
} */
.bg-color {
  background-color: #002449;
  position: relative;
  flex: content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  min-width: 200px;
  max-width: 240px;
  height: 100%;
}
.image {
  width: 100%;
  content: url("src\assets\Hotel-Main-White-2.png");
  position: relative;
  object-fit: cover;
}
.icon {
  content: url("../../../assets/appsicon.png");
  height: 20px;
  width: 20px;
}
.icon1 {
  content: url("../../../assets/icon/all-room-icon.png");
  height: 20px;
  height: 20px;
}
.hover1:hover {
  background-color: #19395b;
  border-radius: 10px;
}
.hover1 {
  border: 1px solid #002449;
  background-color: #002449;
  height: 38px;
  width: 100%;
}
.chevron_rightsize {
  height: 9px;
  width: 5px;
}
.icon2 {
  content: url("../../../assets/icon/room-type-icon.png");
  height: 20px;
  width: 20px;
}
.icon3 {
  content: url("../../../assets/icon/reservation-icon.png");
  height: 20px;
  height: 20px;
}
.icon4 {
  content: url("../../../assets/icon/employee-icon.png");
  height: 20px;
  width: 20px;
}
.icon5 {
  content: url("../../../assets/icon/billing-icon.png");
  height: 20px;
  width: 20px;
}
.icon6 {
  content: url("../../../assets/icon/report-icon.png");
  height: 20px;
  width: 20px;
}
.icon7 {
  content: url("../../../assets/icon/user-icon.png");
  height: 20px;
  width: 20px;
}
.icon8 {
  content: url("../../../assets/logout-icon.png");
  height: 20px;
  width: 20px;
}
.text1 {
  color: red;
}
hr {
  height: 2px;
}
