<div class="dinning">
  <div class="bg-img-head position-relative">
    <div class="header-text text-white">
      <h1 class="fw-bold fs-96 text-center fs-sm-34">Our Restaurants</h1>
    </div>
  </div>
  <div class="line"></div>
  <div class="bg-white">
    <div class="container">
      <div class="row py-5">
        <div class="col-xxl-6 p-4">
          <p class="fw-600 blue fs-content mb-0 fs-sm-16">
            AN EXPERIENCE FOR THE SENSES
          </p>
          <p class="fw-700 fs-46 mb-4 lh-1 fs-sm-34">The Restaurant</p>
          <p class="fs-content mb-6 fs-sm-16">
            Led by Chef de Micheal Martin, The Restaurant is celebrated for its
            excellent cuisine and unique ambience. The gorgeous dining room
            features three open studio kitchens, allowing you to enjoy the
            sights and sounds of the culinary artistry on display. The menu
            showcases both Asian and European influences, with a tempting
            selection of classic favorites and creative dishes for you to
            sample. Cheese connoisseurs will be drawn to the The Wine and Cheese
            Cellar, housed in five-meter-high glass walls,
          </p>
          <p class="fs-32 fw-700">Hours</p>
          <ul class="fs-content fs-sm-16 mb-lh">
            <li>Breakfast: 7.00 am – 11.00 am (daily)</li>
            <li>Lunch: 12.00 noon – 2.00 pm (daily)</li>
            <li>Dinner: open from 6.30 pm, last order at 10.00 pm (daily)</li>
          </ul>
        </div>
        <div class="col-xxl-6 p-xxl-4 p-3 px-xxl-4 px-4">
          <div class="row">
            <div class="col-6 p-xxl-1 mb-pd">
              <div class="img-box img-box-1">
                <img src="https://s3-alpha-sig.figma.com/img/9886/e12d/a1ba9dc2adcce75f36257c03624cb6f3?Expires=1678665600&Signature=F57eBDbEinCRXp0znqzNVXmFi~gQQLj3ubRwSUIIDcjKJh2SQzr4Wzs0g53QrLFKOJ93kCxfSvzTE~4dcMye--PITvaqQOT45kcUEkBoX~Uey1rDr2Dw~~gJk28KT7RarrftQ2Hpg29QOvXBKyx8rbIooMAqxGxNVj7CKugdfGcTeTbMFDj4ivmgkX7kmPNsiJlVedPux2RRK8C0MDSujtlXJkteLhZE7ImAL0Tiir9UgZtAjp18DBWGjootju9Dt1pqtbD0lkRslMO3dcHA~JnPJJsBDNRYKTWQXysQY-0I3vt6QIAUBVA55eef8dkwIBJnXkrOlVJ9cs-KGcO~CQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
              </div>
            </div>
            <div class="col-6 p-xxl-1 mb-pd">
              <div class="img-box img-box-2">
                <img src="https://s3-alpha-sig.figma.com/img/9723/b8ad/cda65f0dd0373453646627b9a51c0228?Expires=1678665600&Signature=WPX9ZxVLfy5-ZrYpC6Ij6FqZ5k9rbKDGbDnGqp1t16IzmN13V8zJb8IiXqinrFnSxsa0fkT3Vy-QROuuSvxbG54ntsWzbn6XgYBbSKFBtAbqoRUBe5a5VfW71PuLMBPoJsO~fNoPOn6~XFJqKYL7pf-voItl0d96ZHMPQY6UR0z~6C8k2i7BXGwE5nTaN1OPsx0Vo0H08J7ZGmaOwL7BMLZtlGJ7HEbfmIEWn5t9Zt6zbl6Gv1cb-dIuV~IXO-ZQXeBDmE-j8E~n3xhj6M3bpqXk6tXX50axNUb0g9nLNyikUT3y3ayEmgpOgIOfnuTSpnl~IBHPTnJNRsYT~NDESQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
              </div>
            </div>
            <div class="col-6 p-xxl-1 mb-pd">
              <div class="img-box img-box-2">
                <img src="https://s3-alpha-sig.figma.com/img/f125/40c4/1d6aeff56c1d3803a9a3e3750127c805?Expires=1678665600&Signature=FoPmzdWNOo1KglMqrUSrtWqiuMEWCYIiMCzmHNMsgPUi6EjXZPlfKY3BVNsCoL0qr9PkWRA6nHr8jDmg5kPbNiwY84CtKAZR9e7WQcQIlOGU-YMulde~hOtP76JVleDSPzxYpE1Fo-sexv-sHSjgFvQI2yMytrPdHF911QJjUsP~qknx3olSrGgFqsrFJa~H3~Of3LjVWuXsu6awXH6pqFCgnqUVVbZCm3MwsJX4O-jXjzl97JNDZm8pivuTKDkFrkZNgTA8bB3l4pT8lq~WuGiNStHZCC2u4t7jeLHOLZrQ24a9jSw9XtsPDIFixh2EjPQPtAUqp71j7h~VKbS7Eg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
              </div>
            </div>
            <div class="col-6 p-xxl-1 mb-pd">
              <div class="img-box img-box-1">
                <img src="https://s3-alpha-sig.figma.com/img/7ec5/270a/56d636f18faf76611d4208034f79db10?Expires=1678665600&Signature=jYh7L-2lIH-y2l-5hOYom9DbvuBeqidapt28KP83tTeNuw0yFjcRg03aXiKHL0HSKpSEQbsJcEu3PBHZrHkB0cavJFBMuCVEVDiH6wk-wAbhFlMYrHjWP-SQopxkOgUvcgcdA4EQBY7zgKRxwo32oRPeOPv5SycpBRalN1lpBxJ3JRHwHOxbvL36w7-xcipmTUF6StJhQSs~5kHmYvqTGoQtSOXXCi1mo63GEKvONQj0xAaZ2f4xeEk~VMFY1OOMKq55NP-4fHRQO7UEYTB5LTQpqIQ66xpX3NOCZcjOsAGNHlXrNQkb8z0vFytJkzM5-RBMpXpx3AQvXV4kgYDVOw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-blue">
    <div class="text-center p-5">
      <p class="blue fs-content fw-600 mb-0 lh-1">LUXURY HOTEL</p>
      <p class="fs-46 fs-sm-34 fw-700 lh-1 mb-0">Restaurant Menu</p>
    </div>
  </div>
  <div class="bg-white">
    <div class="container">
      <div class="row text-center p-5 pb-0">
        <div class="col-2"></div>
        <div class="col-2">
          <a routerLink="/dinning/breakfast" fragment="menu">Breakfast</a>
        </div>
        <div class="col-2">
          <a routerLink="/dinning/launch" fragment="menu">Launch</a>
        </div>
        <div class="col-2">
          <a routerLink="/dinning/dinner" fragment="menu">Dinner</a>
        </div>
        <div class="col-2">
          <a routerLink="/dinning/drink" fragment="menu">Drink</a>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="p-xxl-5 p-0">
        <router-outlet name="menu" id="menu"></router-outlet>
      </div>
    </div>
  </div>
</div>
