<div class="dinning">
  <div class="bg-img-head position-relative">
    <div class="header-text text-white" >
      <h1 class="fw-bold fs-96 text-center fs-sm-34" >Our Restaurants</h1>
    </div>
  </div>
  <div class="line"></div>
  <div class="bg-white">
    <div class="container">
      <div class="row py-5">
        <div class="col-xxl-6 p-4">
          <p class="fw-600 blue fs-content mb-0 fs-sm-16">
            AN EXPERIENCE FOR THE SENSES
          </p>
          <p class="fw-700 fs-46 mb-4 lh-1 fs-sm-34">The Restaurant</p>
          <p class="fs-content mb-6 fs-sm-16">
            A Restaurant with a good serves high-quality food made with fresh
            ingredients that are cooked to perfection. The menu should be
            diverse and offer a range of options to accommodate different
            dietary needs and preferences. Restaurant includes excellent service
            provided by friendly, knowledgeable, and attentive staff. We do our
            best in our hotel that can help all customer feel good and enjoy in
            our hotel.
          </p>
          <p class="fs-32 fw-700">Hours</p>
          <ul class="fs-content fs-sm-16 mb-lh">
            <li>Breakfast: 7.00 am – 11.00 am (daily)</li>
            <li>Lunch: 12.00 noon – 2.00 pm (daily)</li>
            <li>Dinner: open from 6.30 pm, last order at 10.00 pm (daily)</li>
          </ul>
        </div>
        <div class="col-xxl-6 p-xxl-4 p-3 px-xxl-4 px-4">
          <div class="row">
            <div class="col-6 p-xxl-1 mb-pd">
              <div class="img-box img-box-1">
                <img
                  src="https://s3-alpha-sig.figma.com/img/9886/e12d/a1ba9dc2adcce75f36257c03624cb6f3?Expires=1688947200&Signature=LAb4fEHvn2U1uH6ojrc1mB6~-6MqWojlk5CoUbGMOjuKOZBjeZBplhyK~cNPKuTnZxH04T9CyIKGK6iQM5oplmudeadHAZph58fps8WxojMfiavZp1GdE79pMJKmF485Hw5ncckGc-BH0x~vjv2Gb4pJN0cd-tjcNngffL44mJYXU~b9f~pGEJ3QvHyB00JmvkhV5uppIJWpCWnnJP8e5uNgcZL~OpIIhRTjCmwQvfhcxU8ngCQitSANZLqkEGRkNLeTdcXolygj4WQ8~4V8dv1rcTtgQslV2ZeEXhXtsRdIM3OEv6egBmQ6V2mhQz0BrXRz0LS0fEqdR2mqDHaY1A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                  alt=""
                />
              </div>
            </div>
            <div class="col-6 p-xxl-1 mb-pd">
              <div class="img-box img-box-2">
                <img
                  src="https://s3-alpha-sig.figma.com/img/9723/b8ad/cda65f0dd0373453646627b9a51c0228?Expires=1688947200&Signature=NiCfWcn40YN9VTGKO5FwNcjdnYkL7~jdUWCZGVahGocB6jQ4Er1gPGyd~CCafYAp6tbS1Mto0FGpCfyP-VimcHKxv8JN3OekJnsQRnxWswLcjRPEQD4dlVM7NC6lwwS~F~MV9r6~Zp8CdpDnaB7jOjZ2XkqObix2cda843pOoqSjkErqhZaOV6uEobpxQ-zrn8EsjK6aoMZZy957Gyn8GCich3RzcIyHqBGTiP6kgUWXVao8tmYLk2TQ~I3oiNS6jg-8CiwBiT6ipHR9c-Z8g~2Ca5YtdPZK3aHNRbHWy5mdTXWbg-NPARovHVuAiJwMnzSqqrIZ~4eIvBJIOrxQXw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                  alt=""
                />
              </div>
            </div>
            <div class="col-6 p-xxl-1 mb-pd">
              <div class="img-box img-box-2">
                <img
                  src="https://s3-alpha-sig.figma.com/img/f125/40c4/1d6aeff56c1d3803a9a3e3750127c805?Expires=1688947200&Signature=TJZXceV3kRKjiQkmv9aboDm0P5l8Ygpb5qMsd54FIr8pFL71hVe0c85bdqJiuYb68ecds3kyluT51YNBczdKj1nu5hoqs~Iw-3jsMlygmU3UwAF97tYoxrfpBhBACdv0y4J1gqeeCRmXgGB5QhHhLX7RBlD-dUlm9dHacIxKR3mTB0O0k1Z8Kf8Vda9qOM9KJrCwiPU1udeoxYzCOPmX-zK9V0L6hrhc209KGHqLZBB6~kn5B4NwXlNt~gbdSwb95kuBKLZyzoaPrvaHvp1yTyZdj2NfiNJtLLxRr1n0I6heqzF1jjhl6NCe5VsKv5uQIFUzgNvZ6883Qv5V~loACQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                  alt=""
                />
              </div>
            </div>
            <div class="col-6 p-xxl-1 mb-pd">
              <div class="img-box img-box-1">
                <img
                  src="https://s3-alpha-sig.figma.com/img/7ec5/270a/56d636f18faf76611d4208034f79db10?Expires=1688947200&Signature=Pjcso67pUReTt-P79PMgdN-3k1PSiSzBIIojQr6efkpwYdyrj4-lvm2~TYCY-QpyXbY5VYcqDdHVKpTN0nBQ2ljq06UqVxHM-IPgjeFunWEIA83mne1EB6~KmSYM918-wZUKjmGl5p~SuzeGl3bjcCqqYzxb-XOjxxiOtnRzxWckg~KFxeXEN5fi23ikEOIi0e2R2GkPAXasBPHvzeTuRBFJfyQfVHfO61yyd3t~iYixX8DlH82y~1RdQNZkYkCKj6XbK8fV4RXDOFwGVRut5ewWPLXzFcXpgM4PR8r-T7zCop5BA0BzjzyheT9lJLbIB3mqGH65y64IMlt6sJbabA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-blue">
    <div class="text-center p-5">
      <p class="blue fs-content fw-600 mb-0 lh-1">LUXURY HOTEL</p>
      <p class="fs-46 fs-sm-34 fw-700 lh-1 mb-0">Restaurant Menu</p>
    </div>
  </div>
  <div class="bg-white">
    <div class="container">
      <div class="row text-center p-xxl-5 p-1 pb-0">
        <div class="col-xxl-2"></div>
        <div class="col-xxl-2 col">
          <a class="fs-sm-20" routerLink="/dinning/breakfast" fragment="menu"
            >Breakfast</a
          >
        </div>
        <div class="col-xxl-2 col">
          <a class="fs-sm-20" routerLink="/dinning/launch" fragment="menu"
            >Launch</a
          >
        </div>
        <div class="col-xxl-2 col">
          <a class="fs-sm-20" routerLink="/dinning/dinner" fragment="menu"
            >Dinner</a
          >
        </div>
        <div class="col-xxl-2 col">
          <a class="fs-sm-20" routerLink="/dinning/drink" fragment="menu"
            >Drink</a
          >
        </div>
        <div class="col-xxl-2"></div>
      </div>
      <div class="p-0">
        <router-outlet name="menu" id="menu" ></router-outlet>
      </div>
    </div>
  </div>
</div>
