<div class="allpage">
  <div class="row g-0">
    <div class="col-2 sm-2">
      <app-MenuPage></app-MenuPage>
    </div>
    <div class="col-10">
      <div class="p-3">
        <div class="border size rounded"></div>
        <div class="size1 container">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <p class="fs-32 fw-700">All&nbsp;Rooms</p>
              </div>
              <div class="col">
                <div class="col-6 col-sm-6 gy-3 ms mt-2">
                  <button
                    type="button"
                    class="btn hover-blue dblue"
                    (click)="onClickAddRoom()"
                  >
                    <div class="row">
                      <div class="col col-sm-3">
                        <div class="icon"></div>
                      </div>
                      <div class="col col-sm-2">
                        <div class="fs">Add&nbsp;Room</div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="table borders">
              <table id="customers">
                <tr class="fw-600">
                  <th>R.Num</th>
                  <th>RoomType</th>
                  <th>Bed Type</th>
                  <th>Floor</th>
                  <th>Guest</th>
                  <th>Price($)</th>
                  <th>Status</th>
                </tr>
                <tr>
                  <td>R100</td>
                  <td>Master Room</td>
                  <td>Sing Bed</td>
                  <td>Ground Floor</td>
                  <td>2</td>
                  <td>300.00</td>
                  <td><div class="astatus fw-600 rounded">Available</div></td>
                </tr>
                <tr>
                  <td>R101</td>
                  <td>Master Room</td>
                  <td>Sing Bed</td>
                  <td>Ground Floor</td>
                  <td>2</td>
                  <td>300.00</td>
                  <td><div class="Rstatus fw-600 rounded">Reserved</div></td>
                </tr>
                <tr>
                  <td>R100</td>
                  <td>Master Room</td>
                  <td>Sing Bed</td>
                  <td>Ground Floor</td>
                  <td>2</td>
                  <td>300.00</td>
                  <td><div class="astatus fw-600 rounded">Available</div></td>
                </tr>
                <tr>
                  <td>R101</td>
                  <td>Master Room</td>
                  <td>Sing Bed</td>
                  <td>Ground Floor</td>
                  <td>2</td>
                  <td>300.00</td>
                  <td><div class="Rstatus fw-600 rounded">Reserved</div></td>
                </tr>
                <tr>
                  <td>R100</td>
                  <td>Master Room</td>
                  <td>Sing Bed</td>
                  <td>Ground Floor</td>
                  <td>2</td>
                  <td>300.00</td>
                  <td><div class="astatus fw-600 rounded">Available</div></td>
                </tr>
                <tr>
                  <td>R101</td>
                  <td>Master Room</td>
                  <td>Sing Bed</td>
                  <td>Ground Floor</td>
                  <td>2</td>
                  <td>300.00</td>
                  <td><div class="Rstatus fw-600 rounded">Reserved</div></td>
                </tr>
                <tr>
                  <td>R100</td>
                  <td>Master Room</td>
                  <td>Sing Bed</td>
                  <td>Ground Floor</td>
                  <td>2</td>
                  <td>300.00</td>
                  <td><div class="astatus fw-600 rounded">Available</div></td>
                </tr>
                <tr>
                  <td>R101</td>
                  <td>Master Room</td>
                  <td>Sing Bed</td>
                  <td>Ground Floor</td>
                  <td>2</td>
                  <td>300.00</td>
                  <td><div class="Rstatus fw-600 rounded">Reserved</div></td>
                </tr>
                <tr>
                  <td>R100</td>
                  <td>Master Room</td>
                  <td>Sing Bed</td>
                  <td>Ground Floor</td>
                  <td>2</td>
                  <td>300.00</td>
                  <td><div class="astatus fw-600 rounded">Available</div></td>
                </tr>
                <tr>
                  <td>R101</td>
                  <td>Master Room</td>
                  <td>Sing Bed</td>
                  <td>Ground Floor</td>
                  <td>2</td>
                  <td>300.00</td>
                  <td><div class="Rstatus fw-600 rounded">Reserved</div></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
