<div class="menu">
  <div class="row">
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Caffe
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$10</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Hot Latte, Frappuccino, Mocha, Ice Caffe, Espresso...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Alcoholic
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">10$</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Red Win, Beer in Glass, Champagne, Margarita...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Juice
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$7</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Green Tea, Kiwi Soda, Mango Juice, Apple Juice...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Cocktails
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$10</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Bloody Mary, Cape codder, Cuba Libre, Cosmopoltian..
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Drinks
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$8</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Water, Coca Cola, Pepsi, Sprite...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Ice Tea
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$10</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Irish Trash Can, Texas Tea, Green Tea, Long Island...
        </p>
      </div>
    </div>
  </div>
</div>
