<div class="menu">
  <div class="row">
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Quick and Easy
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$10</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Steak, Crockpot salsa Chicken, French Dip, Chicken Tortilla Soup...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Ceaser Salad
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$10</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Romaine lettuce, croutons, parmigiano, Ceaser dressing...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Mexican
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$7</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Chicken Nachos, Tacos, Fajitas, Tostsdas, Smothered Burritos...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Asian
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$10</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Chicken Friend rice, Lettuce wraps, Beef stir fry, Orange Chicken...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Soup and salads
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$8</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Potato Soup, Tomato Soup,
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Sandwiches
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$10</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          French dip, Cheeseburgers, Sloppy joes, Pulled park... 
        </p>
      </div>
    </div>
  </div>
</div>
