<div class="bg-white">
  <div class="container p-xxl-auto p-0">
    <div class="text-center p-xxl-5 pt-xxl-auto pt-3">
      <h2 class="blue fs-sm-24 fw-700">Our Services</h2>
      <p class="fs-content fs-sm-16 py-4 px-7">
        Our services and facilities at Mallika are the little added touches that
        help make our guests feel more at home. Because in the end, it's not
        just about the accommodation, but the entire experience as a whole.
      </p>
    </div>
    <div class="row px-xxl-5 py-xxl-3">
      <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="col-xxl-4 p-1">
        <div
          style="
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
          "
        >
          <div style="overflow: hidden; border-radius: 15px">
            <div class="service-img">
              <div class="on-hover">
                <div class="text-center text-white py-5 px-3">
                  <p class="fs-28 fs-sm-20 fw-600 mb-1">FITNESS CENTRE</p>
                  <p class="fs-content fs-sm-16">
                    Get your cardio or weight trainning at our hotel Get your
                    cardio or weight
                  </p>
                  <button class="cus-btn">More Info</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-4 pb-6">
      <div class="text-center">
        <button
          class="btn blue fw-600 px-4 hover-blue"
          (click)="onClickNavigate()"
        >
          View More
        </button>
      </div>
    </div>
  </div>
</div>
