<div class="allpage">
  <div class="row g-0">
    <div class="col-2 sm-2">
      <app-MenuPage></app-MenuPage>
    </div>
    <div class="col-10">
      <div class="p-3 bg">
        <!-- Search bar -->
        <div class="border border-secondary size rounded"></div>
        <!-- Edit-->
        <div class="size1 container">
          <div class="row">
            <div class="col-2 sm-1 mt-1">
              <p><b>All&nbsp;Rooms</b></p>
            </div>
            <div class="col-4 sm-3 mt-1 colorgray">
              <span class="material-symbols-outlined"> chevron_right </span>
            </div>
            <div class="col-4 colorgray mt-1 gy-1">
              <p>Add&nbsp;New&nbsp;Rooms</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2 sm-3 mt">
              <button class="btn icon" onclick="onClickBack()">
                <span class="material-symbols-outlined"> arrow_back </span>
              </button>
            </div>
            <div class="col-4 fw-700 fs-32">
              <p>Add&nbsp;New&nbsp;Rooms</p>
            </div>
          </div>
          <!-- Edit All Rooms -->
          <div class="container">
            <div class="mt-5 align-items-start">
              <div class="row m-2">
                <div class="col gy-1">Room&nbsp;Name</div>
                <div class="col gy-1">Room&nbsp;Number</div>
                <div class="col gy-1">Room&nbsp;Price</div>
              </div>
            </div>

            <div class="row m-2">
              <div class="col gy-1">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select Rooms Name</option>
                  <option value="1">Master Room</option>
                  <option value="2">Prime Room</option>
                  <option value="3">Family Room</option>
                  <option value="4">Executive Room</option>
                </select>
              </div>
              <div class="col">
                <div class="input-group mb-3 gy-2">
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3 gy-2">
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                  />
                </div>
              </div>
            </div>

            <div class="row m-2">
              <div class="col-4">Room&nbsp;Type</div>
              <div class="col-4">Room&nbsp;Capacity</div>
              <div class="col-4">Room&nbsp;Floor</div>
            </div>
            <div class="row m-2">
              <div class="col gy-1">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select Rooms Type</option>
                  <option value="1">Single Bed</option>
                  <option value="2">Double Bed</option>
                  <option value="3">2 Double Bed</option>
                </select>
              </div>
              <div class="col gy-1">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select Capecity</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">5</option>
                  <option value="4">10</option>
                </select>
              </div>
              <div class="col gy-1">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select Floor</option>
                  <option value="1">First Floor</option>
                  <option value="2">Second Floor</option>
                  <option value="3">Third Floor</option>
                  <option value="4">Forth Floor</option>
                </select>
              </div>
              <div class="mt-3">
                <p>Offering</p>
                <div class="row ms-4 mt-2">
                  <div class="col-4 col-sm-1">
                    <div class="form-check">
                      <input
                        class="form-check-input mt-1"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault"
                        >Wifi</label
                      >
                    </div>
                  </div>
                  <div class="col-4 col-sm-2 ">
                    <div class="form-check">
                      <input
                        class="form-check-input mt-1"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault"
                        >Pool</label
                      >
                    </div>
                  </div>
                  <div class="col gy-1 gx-1">
                    <div class="form-check">
                      <input
                        class="form-check-input mt-1"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault"
                        >Tranportation</label
                      >
                    </div>
                  </div>
                  <div class="row justify-content-start mt-2">
                    <div class="col col-sm-1 gy-1">
                      <div class="form-check">
                        <input
                          class="form-check-input mt-1"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault"
                          >Dinner</label
                        >
                      </div>
                    </div>
                    <div class="col col-sm-2 gy-1">
                      <div class="form-check">
                        <input
                          class="form-check-input mt-1"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault"
                          >Lunch</label
                        >
                      </div>
                    </div>
                    <div class="col gy-1 gx-3">
                      <div class="form-check">
                        <input
                          class="form-check-input mt-1"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault"
                          >BreakFast</label
                        >
                      </div>
                    </div>
                    <div class="row justify-content-start mt-2">
                      <div class="col col-sm-1 gy-1">
                        <div class="form-check">
                          <input
                            class="form-check-input mt-1"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label" for="flexCheckDefault"
                            >Bathtub</label
                          >
                        </div>
                      </div>
                      <div class="col col-sm-2 gy-1">
                        <div class="form-check">
                          <input
                            class="form-check-input mt-1"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label" for="flexCheckDefault"
                            >Coffee</label
                          >
                        </div>
                      </div>
                      <div class="col gy-1 gx-4">
                        <div class="form-check">
                          <input
                            class="form-check-input mt-1"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label" for="flexCheckDefault"
                            >Extra bed</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <div class="row">
                  <div class="col-6 sm gx-3">
                    <button type="button" class="btn hover-blue dblue">
                      Add Room
                    </button>
                  </div>
                  <div class="col-6 col-sm-2 gx-0">
                    <button
                      type="button"
                      class="btn cencle"
                      onclick="window.location.href='http://localhost:4200/#/admin/allrooms'"
                    >
                      Cancle
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
