<div class="aboutus" style="overflow: hidden">
  <div class="bg-img-head position-relative">
    <div class="header-text text-white">
      <h1 class="fw-bold fs-96 fs-sm-34 text-center">About Us</h1>
    </div>
  </div>
  <div class="line"></div>
  <div class="bg-white">
    <div class="container px-xxl-auto px-4">
      <div class="row py-6 p-0">
        <div class="col-xxl-6 col-12 pe-6">
          <p class="fs-46 fw-700 mb-xxl-5 mt-xxl-0 mt-5 fs-sm-34">
            Why choose Us?
          </p>
          <p class="fs-link">
            Our Hotel we provide a good quality, environment that make you feel
            like you stay at your home. Moreover, our hotel help you all what
            you want. Our hotel we are open since 2015 and we have a lot of
            traveler come to stay at our hotel. However, Not only traveler also
            have local people come to stay when they have a vocation.
          </p>
        </div>
        <div class="col-xxl-6">
          <div class="row">
            <div class="col-xxl-6 mb-xxl-0 mb-4">
              <div
                class="w-100"
                style="box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)"
              >
                <div class="position-relative cus-hover">
                  <div class="cus-img-bg"></div>
                  <img
                    class="img"
                    src="https://s3-alpha-sig.figma.com/img/5363/67ac/f55f5d7a4c898dd7d0d58850cc3b6231?Expires=1698624000&Signature=pIgG9b7QHgegllYtM1eJ3nQf8LQZEX2Acwh9O2~gfy1orVIzy3jirS7FkFDilqyWaxIhvy34S7glW79aqynnjqcatMZPVfJ1ddzS10tvLmR3B23Me4ZgFXEPz5JMQe3Z-6cyKUiqHRkrPM8cIpYFw2GmuPQKvfJXvgaLIz9srYgVsiV2FT4fAmYLqrbXWz9opH1nNP51x7wc0P71H820NBKWAzNwIbsc6DBaVcaenkOLEB6IvG0-jsSPquH1l9vakkNQUFBpe28X3WyvaTkeW-0oCOuRR-QrM17xYrg5RfEH0R9eOXMqraBs4IjBjsKUBIFpzfHDhIgKg92sVVsOgg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                    alt=""
                  />
                  <div
                    class="cus-text position-absolute fs-28 fw-600 text-white bottom-0 w-100 text-center py-4"
                  >
                    Modern Building
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-6 mb-xxl-0 mb-4">
              <div
                class="w-100"
                style="box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)"
              >
                <div class="position-relative cus-hover">
                  <div class="cus-img-bg"></div>
                  <img
                    class="img"
                    src="https://s3-alpha-sig.figma.com/img/29f7/1e6f/c73be55143ccb15a3de5ae4476586428?Expires=1698624000&Signature=dTDj55JJc4EAF8WlffZcQLL2rIo6sP9osYapzu8YTQ8qqQsLEc4CmiIAc9KstSusp7qmpGAr4fCcx8qtG3z38cBxofve~xea0xh8PUxvjiDy9q4k44Qxxbe0wFZRDM8oxRAf4nvZmzNbwNyl32vO6Mv9JrOVuSOlI7iWnb4r1~PfuBQWy-s6XvauurrmnzArPl4JC7GVBzWUC28bh5IcE~2yTQjwuk7G1biBeElFlA~PYQ6CwznxRTT9d94UDYzWrGkNPeOoax78~Eh4H9Vmr57rXGkp8~iK3XvU1qstsVwFf5qc46M2icJox8ok~X2AU6J754qKupxZ9YYCNVNH6w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                    alt=""
                  />
                  <div
                    class="cus-text position-absolute fs-28 fw-600 text-white bottom-0 w-100 text-center py-4"
                  >
                    Modern Building
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-blue">
    <div class="container px-xxl-auto px-4">
      <div class="row py-4">
        <div class="col-xxl-3 col-6 mb-xxl-auto mb-4">
          <div class="d-flex flex-column text-center">
            <i class="bi bi-person-hearts"></i>
            <div class="fs-22 fw-600 mb-1">8 years</div>
            <div class="fs-16 mb-3">Esperance</div>
          </div>
        </div>
        <div class="col-xxl-3 col-6 mb-xxl-auto mb-4">
          <div class="d-flex flex-column text-center">
            <i class="bi bi-check-all"></i>
            <div class="fs-22 fw-600 mb-1">20</div>
            <div class="fs-16 mb-3">Partners</div>
          </div>
        </div>
        <div class="col-xxl-3 col-6 mb-xxl-auto mb-4">
          <div class="d-flex flex-column text-center">
            <i class="bi bi-emoji-smile"></i>
            <div class="fs-22 fw-600 mb-1">100+</div>
            <div class="fs-16 mb-3">Happy Clients</div>
          </div>
        </div>
        <div class="col-xxl-3 col-6 mb-xxl-auto mb-4">
          <div class="d-flex flex-column text-center">
            <i class="bi bi-cup-hot"></i>
            <div class="fs-22 fw-600 mb-1">640</div>
            <div class="fs-16 mb-3">Meetings</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-5-cus p-0 position-relative overflow-hidden">
        <div class="w-100 h-100 position-absolute img-hover-cus"></div>
        <div class="w-100 h-100 position-absolute img-text-cus">
          <div
            class="text-white w-100 lh-1 text-center fs-32 fw-700 top-50 position-absolute"
          >
            Luxury Breakfast
          </div>
        </div>
        <img
          class="bg-img-body"
          src="https://s3-alpha-sig.figma.com/img/bf63/31fe/ed83fe399bf5966d18149e90262e69c3?Expires=1698624000&Signature=lsw~WbA0O8TVHMKiuidIKosKauctWAxVKqA~OM0sAFJUL~7E7dnxZBqktJc6zlTYJNpXSXSWiMhefxjRNjQy44VJHCKVZlX8OrF4NsFyl-qxs4BBtwm4qRzZnCqkbIR4OJzwfHtwUEKjbzaTpwDxm2BFTm-4j2DJrFZrSw8j1MqTek7N9IT5LtC8o~S1uz52Hu9ZUJFXnzp0OhxoYkam2MoMu8XkcSoUHGsXxvqC3B0wO71ybLqpEQ3cVLyMVyVK0eP8p7X9iwIibGxpylq~i7zVuSTHKPslLagzku3ReCCmbohQoy8XWxZ55W0Goo1RZ43iY-R5Uh4O0iVCIHFZig__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          alt=""
        />
      </div>
      <div class="col-xxl-7-cus p-0 position-relative overflow-hidden">
        <div class="row bg-img-body-1">
          <div class="row row-1">
            <div class="col-xxl-9 p-5">
              <p class="fw-700 text-white fs-46 fs-sm-34 mb-xxl-3 mb-4">
                Excellent service.
              </p>
              <p class="fs-link text-white fs-sm-16 mb-lh">
                Our Service is the best that we heard about customer say that
                (your service is the best that we haven't know).we can help to
                build customer loyalty, generate positive word-of-mouth
                referrals, and differentiate the business from its
                competitors.In a restaurant, excellent service may include
                attentive and friendly waitstaff, prompt service, and
                personalized recommendations based on customers' preferences.
              </p>
            </div>
          </div>
          <div class="row row-2">
            <div class="col-6 p-0 position-relative overflow-hidden">
              <div class="w-100 h-100 position-absolute img-hover-cus"></div>
              <div class="w-100 h-100 position-absolute img-text-cus">
                <div
                  class="text-white w-100 lh-1 text-center fs-content fw-600 top-50 position-absolute"
                >
                  Luxury Breakfast
                </div>
              </div>
              <img
                src="https://s3-alpha-sig.figma.com/img/7701/c726/4e5f91115f3b757a165d95330f514e90?Expires=1698624000&Signature=n0dDiczrCACr2L1lmpPOJE6~z~I9HP47lKpHPCadisIQKkdwlqAiq~zoBIh506x9lSDQDkGhgWheJ0mlqkb6VpmkVALNr2EWcNOz5kpWi6bSZYsk9eWUBfUXJtLzDFh97nCq~pvLTUa1GbYhCwy7pV~IKuIPyJpb6O66otNmoHFRdjVC3CaMbad28L2ueFto9SnfxT~Tl4KCTgU8-v~WHC644RGCtOTofFwqhy99t6xP-qIqIHkUPDMQ~rF~jLY4jwQsZTJzQh9evk0nQ-ojWcpkoAIgeuZR8U4Cix1ztWDHM9Tc3UcSwJ-1BFUrm8H3bsxW~ZUVBY5ygCpbsVx0jw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                alt=""
              />
            </div>
            <div class="col-6 p-0 position-relative overflow-hidden">
              <div class="w-100 h-100 position-absolute img-hover-cus"></div>
              <div class="w-100 h-100 position-absolute img-text-cus">
                <div
                  class="text-white w-100 lh-1 text-center fs-content fw-600 top-50 position-absolute"
                >
                  Luxury Breakfast
                </div>
              </div>
              <img
                src="https://s3-alpha-sig.figma.com/img/9985/0ac2/b3ab9bec77c1b8b7a9b16b979394b3a8?Expires=1698624000&Signature=gTEnFTd1o9W-8cNiC5xWYfQuTDZRi2Itpgs2-NtaH0D9X-eVEru~Ia6~PJ2jTEJhdX7E-maWvyBVBhE2roH3HNY1IupFJQKemhONni917azzgsgb4ioVaMZa79UxNcedo60Aypw33wRFb2tv~tizf-kI0vqCr2jND4LNV~P8yJIinxdMqwygOH-sglQkU6X8T2eVEdHp8Y7adEIzwJbYps4lJqlHz2x1GShzCqBJIQnM8yvmtgfcMpCCY-y14BAAmJLl3zzdxyDoWBG1jhRCazAeV8xmMEojjQ9ikGkn3RF-lnvtVAsxyfpjXthy31NcV~GuymhXuK0IFtvDwygK6w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="container px-xxl-auto px-4">
        <div class="row py-5">
          <p class="fs-content blue fw-600 m-0 fs-sm-18">OUR SERVICES</p>
          <p class="fw-700 fs-46 m-0 fs-sm-34">Hotel Facilities</p>
        </div>
        <div class="row">
          <app-HotelFacilities></app-HotelFacilities>
        </div>
        <div class="text-center py-5">
          <button class="btn fs-content blue fw-600 px-4 hover-blue">
            Book Now
          </button>
        </div>
      </div>
    </div>
    <div class="bg-blue">
      <div class="container px-xxl-auto px-4">
        <div class="py-xxl-4 header-abt">
          <div class="fs-46 fs-sm-34 fw-700 text-center">Meet Our Team</div>
          <div class="fs-link fs-sm-16">
            As important as strategy is, we have to execute to win. Execution
            involves every employee and every relation we have with customers.
          </div>
          <div class="fs-link fs-sm-16">
            We must operate quickly on problems, drive results, not just
            activities.
          </div>
        </div>
        <div class="row pt-xxl-auto pt-4">
          <div
            class="col-xxl-7"
            style="margin-bottom: 16px; padding: 0px 8px 0px 8px"
          >
            <div class="abt-box cus-card bg-white text-center">
              <img
                class="img-pf mt-5 mb-3"
                src="../../assets/profile/IMG_3599.JPG"
                alt=""
              />
              <p class="fs-lg-content fs-sm-20 fw-700 mb-2">Chou Darapisey</p>
              <p class="fs-content fs-sm-18 mb-2">UX/UI Designer</p>
              <p class="fs-link fs-sm-16">
                Life is as messy as the prototype strings.
              </p>
              <div class="d-flex justify-content-center pf">
                <a href="https://www.facebook.com/ounsey.jah"
                  ><i class="bi bi-facebook mx-2"></i
                ></a>
                <a href=""><i class="bi bi-telegram mx-2"></i></a>
                <a href=""><i class="bi bi-instagram mx-2"></i></a>
              </div>
            </div>
          </div>
          <div
            class="col-xxl-5"
            style="margin-bottom: 16px; padding: 0px 8px 0px 8px"
          >
            <div class="abt-box cus-card bg-dblue text-center">
              <img class="img-pf img-cust mt-5 mb-3" src="../../assets/profile/me-edited.png" alt="" />
              <p class="fs-lg-content fs-sm-20 fw-700 mb-2">Chhith Vattana</p>
              <p class="fs-content fs-sm-18 mb-2">Front-End | Back-end</p>
              <p class="fs-link fs-sm-16">
                404: Graduation not found. Please check your education and try
                again.
              </p>
              <div class="d-flex justify-content-center pf">
                <a
                  href="https://www.facebook.com/profile.php?id=100010097533359"
                  ><i class="bi bi-facebook mx-2"></i
                ></a>
                <a href=""><i class="bi bi-telegram mx-2"></i></a>
                <a href=""><i class="bi bi-instagram mx-2"></i></a>
              </div>
            </div>
          </div>
          <div
            class="col-xxl-4"
            style="margin-bottom: 16px; padding: 0px 8px 0px 8px"
          >
            <div class="abt-box cus-card bg-white text-center">
              <img
                class="img-pf mt-5 mb-3"
                src="https://s3-alpha-sig.figma.com/img/ec5c/4f36/5c981e24968c01b460de62b505fdf343?Expires=1688947200&Signature=LWsBdwZQ1JqO4810xlh5voRpRtoGtRCvqgZAyxpZKFcWyiJT0JC6WGLv6NVFOKZg4rlM~QD5jmy82GOPV1mhaTQWQDvGpfsFq-fu5MXbM8aVnCCYcBsXLBc60Os~0p5BgcRNr~ndZl-iEyxW38IQpdRxN1UeuwLLD9PFJOiiaWHT3ehx6IJxA82dn-wu0D43tmPaMfgaw8ar34P-CVCXoADFsvFCMaVPeN10TGSbbsmOY~NXFi8exaOWlNBk-H9l8xgTTbllZH~JDTLO58SKqgwicFkLX49fg7KUuvmkioefUSqLcQbvvuAZPndo0V~wjxSBYfXRQfWc4a7-RK8p0g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                alt=""
              />
              <p class="fs-lg-content fs-sm-20 fw-700 mb-2">Khon Lyhieb</p>
              <p class="fs-content fs-sm-18 mb-2">Presenter</p>
              <p class="fs-link fs-sm-16">
                Programming is like sex. One mistake and you have to support it
                for the rest of your life.
              </p>
              <div class="d-flex justify-content-center pf">
                <a href="https://www.facebook.com/khon.liheab?mibextid=ZbWKwL"
                  ><i class="bi bi-facebook mx-2"></i
                ></a>
                <a href=""><i class="bi bi-telegram mx-2"></i></a>
                <a href=""><i class="bi bi-instagram mx-2"></i></a>
              </div>
            </div>
          </div>
          <div
            class="col-xxl-4"
            style="margin-bottom: 16px; padding: 0px 8px 0px 8px"
          >
            <div class="abt-box cus-card bg-dblue text-center">
              <img
                class="img-pf mt-5 mb-3"
                src="https://s3-alpha-sig.figma.com/img/2b3d/d16f/e027f88e52e9e0857e6fb7096ad62dee?Expires=1688947200&Signature=FGt7oOY32Shoy65kQ8loO~VyYFlxTad710BdAlglNoa-PxSOBvhPzboMwsn4xp6hdLeuec2XZdpHvo6TZrgu6tWI1w2BhgOE1DTLxeG90FGTtB6lXHTXNVH9O~B1B~8e5CNFAh8e8wPCwpMjMleG9liK3Jqv9UKCLJotqwCgjxF37Z1GV79~MTLuTtMDUerCz7eBtPLd0SPWhwH3RiTWEsZzM31hcss4rDDZyI5WmDbORtevyYt83N4FXItk3GRwx9URpxvNn7PSXL~B8HP13DY~VC5q1HVpu4tWFB0MIR0ogvzaZFhrYXrprEVreFOqnTXkxjyrBfLDzjR08CEc9A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                alt=""
              />
              <p class="fs-lg-content fs-sm-20 fw-700 mb-2">
                Soenghakk Choeurm
              </p>
              <p class="fs-content fs-sm-18 mb-2">Database Structure</p>
              <p class="fs-link fs-sm-16">
                Sometimes it pays to stay in bed on Monday, rather than spending
                the rest of the week debugging Monday’s code.
              </p>
              <div class="d-flex justify-content-center pf">
                <a href=""><i class="bi bi-facebook mx-2"></i></a>
                <a href=""><i class="bi bi-telegram mx-2"></i></a>
                <a href=""><i class="bi bi-instagram mx-2"></i></a>
              </div>
            </div>
          </div>
          <div
            class="col-xxl-4"
            style="margin-bottom: 16px; padding: 0px 8px 0px 8px"
          >
            <div class="abt-box cus-card bg-white text-center">
              <img
                class="img-pf mt-5 mb-3"
                src="../../assets/profile/Screenshot 2023-07-03 104310.png"
                alt=""
              />
              <p class="fs-lg-content fs-sm-20 fw-700 mb-2">Kin Panha</p>
              <p class="fs-content fs-sm-18 mb-2">Front-End</p>
              <p class="fs-link fs-sm-16">
                Programming isn't about what you know; it's about what you can
                figure out.
              </p>
              <div class="d-flex justify-content-center pf">
                <a href="https://www.facebook.com/crazy.nha.20/" target="_blank"
                  ><i class="bi bi-facebook mx-2"></i
                ></a>
                <a href=""><i class="bi bi-telegram mx-2"></i></a>
                <a href=""><i class="bi bi-instagram mx-2"></i></a>
              </div>
            </div>
          </div>
          <div
            class="col-xxl-5"
            style="margin-bottom: 16px; padding: 0px 8px 0px 8px"
          >
            <div class="abt-box cus-card bg-dblue text-center">
              <img
                class="img-pf mt-5 mb-3"
                src="https://s3-alpha-sig.figma.com/img/76d1/51c9/b93b5f6461da589afb16d36fafdbb5ec?Expires=1688947200&Signature=eulr5z7Xaemuqqtx~WmtXGZa5~HiLhzw0lBINj3NFEUToAn06wEPfqlumPGib29uEVUiFJtAZcN3dVeIBfkYxWwIVxgZObQJpbEOOb88dnJuQCZesnT~4DuYClQbm9yprIlYxsFcGKPZzfQhakvqbkbwwNTErMyE-f9HtUd2h~xXj-RbMLE0ymKBjuF3wlaIZ3rk3AKlNXPqZT1CjBYjYseVUjfDNcoODzCHZ3YIMkwAmYis9pn2twa6Y6JE7w9cPE0W1yOov15ydEffFQ4LcZ6DF6P8NApzZ0-WZWESxTlFcGgPL3aPl2wZGOjusbx7fUiIJA5GlkF1kLdAIy8qEA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                alt=""
              />
              <p class="fs-lg-content fs-sm-20 fw-700 mb-2">Chamroeun Sithy</p>
              <p class="fs-content fs-sm-18 mb-2">Tester</p>
              <p class="fs-link fs-sm-16">
                The Great thing need you to spend time, please don’t give up
              </p>
              <div class="d-flex justify-content-center pf">
                <a
                  href="https://www.facebook.com/sithy.chamroeun.9?mibextid=LQQJ4d"
                  ><i class="bi bi-facebook mx-2"></i
                ></a>
                <a href="#"><i class="bi bi-telegram mx-2"></i></a>
                <a href="#"><i class="bi bi-instagram mx-2"></i></a>
              </div>
            </div>
          </div>
          <div
            class="col-xxl-7"
            style="margin-bottom: 16px; padding: 0px 8px 0px 8px"
          >
            <div class="abt-box cus-card bg-white text-center">
              <img
                class="img-pf mt-5 mb-3"
                src="https://s3-alpha-sig.figma.com/img/cf8b/9a59/58769dbef15c61f5d125feb4cee664c0?Expires=1688947200&Signature=bnXDl3p~e0wPPh8KCJX0VA-6pNuPsTAxFwDRSvn~ux-k0TVl6DzQ2xO63vmemnTMHFznapcYbLiCdc9qSyTkYop2H06WcO1XR8W~em5CSEIzIzsu2d0gr6aNviCjO8m8lcpQpZLbv5zKXvGz~315Z8qt-IFjIH2w49KIGd4qF9uhK3-Z1vkUD-YadLD6uGElEnTKh3Jhwamd~OlRG5SQFIBBwJrtprPmXVbfWM1Triq23eKjaTtkh7QG45kYPnhN9uAPK~6iLKxbuV2nBxE7MBgeCf87V1FNiFCaGevzgb7myzvIPmLwojthtTPO3lasrrCh95Iw~1ATcYIpF08haQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                alt=""
              />
              <p class="fs-lg-content fs-sm-20 fw-700 mb-2">Chea Menghy</p>
              <p class="fs-content fs-sm-18 mb-2">Content Creator</p>
              <p class="fs-link fs-sm-16">
                The only way to do grate work is, to love what you do.
              </p>
              <div class="d-flex justify-content-center pf">
                <a
                  href="https://www.facebook.com/chea.menghy?mibextid=LQQJ4d"
                  target="_blank"
                  ><i class="bi bi-facebook mx-2"></i
                ></a>
                <a href="https://t.me/Meng_chi"
                  ><i class="bi bi-telegram mx-2"></i
                ></a>
                <a
                  href="https://instagram.com/meng_chhii?igshid=OGQ5ZDc2ODk2ZA=="
                  ><i class="bi bi-instagram mx-2"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
