.bg-img-head {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/8d88/d83a/4d67b64c423437bee592269953cd17ad?Expires=1679270400&Signature=ENLFSzsYoIuolB-qKh0goCJ4ez4-ao6rd-LPQvka2nbPRUJx1uP-q9x329tj~j1QF0Dlxhuo5Bt4K93WSGBUzdpIwCv3Ghcn4JZsyP8D2N0-XFPtGWMyalPeHzSIzdUcGutWmGMc4zchAOkgkw4ycFMufpXvaaClwlG5Ulp-wMeq-nN5Vo3MdXkMZnnMU4aV0R51EnOW4VWITPDr~H8bfOFbiwDQ3sB84dJ7WEa45cn~HsYboctPjnEHsSmkQqRbEgOYSpvAvDZC4BBlfCZVP8XrAMwJF1vqeDZm6qYKi1T8FNTz49A5o8jnOVk46WSwbFFAOZLT76K8DSLnvCRGvw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
}

.header-text {
  position: relative;
  top: 45%;
}

.line {
  width: 100%;
  height: 10px;
  background-color: #0057b2;
}

.cus-hover {
  overflow: hidden;
}

.cus-hover:hover > .cus-text {
  transform: translateY(0%);
}

.cus-hover:hover > .cus-img-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(0, 0, 0, 0.15);
}

.cus-img-bg {
  transition: 0.4s;
}

.cus-text {
  transition: 0.4s;
  transform: translateY(100%);
  background-color: rgb(0, 0, 0, 0.6);
}

.img {
  width: 100%;
  height: 400px;
  background-color: #0057b2;
}
.img-hover-cus {
  transition: 0.4s;
  transform: translateX(-100%);
  background-color: rgb(0, 0, 0, 0.5);
}
.img-text-cus {
  transition: 0.4s;
  transform: translateY(100%);
}
.col-xxl-5-cus:hover, .col-6:hover > .img-hover-cus {
  transform: translateX(0%);
}
.col-xxl-5-cus:hover, .col-6:hover > .img-text-cus {
  transform: translatey(0%);
}
.col-xxl-5-cus:hover > .img-hover-cus {
  transform: translateX(0%);
}
.col-xxl-5-cus:hover > .img-text-cus {
  transform: translatey(0%);
}
.bg-img-body {
  width: 100%;
  height: 550px;
  background-color: #0057b2;
}

.bg-img-body-1 {
  height: 500px;
  background-color: #0057b2;
  background-image: url("https://s3-alpha-sig.figma.com/img/2e1d/7c36/8efd4d47b861db4d18cc58a2e0d9a8bb?Expires=1679270400&Signature=ky3DUHN4X3VEknOoZp88Y3avz-35~ihCU6JBFYNMu7vpUvblXxnhxbUci5kOKtTpot5CYsihoqELikVhAkp4PneMBgURzReXTlHgadxaEmA227OkAWz~RLurNUmSdXLHgO5GM32VzXo4EAEJ7lrb4tyku~bA48H4yQRO9MbpcwK6S5NCcn67A1Jy7mvhCv36FONWxe5YjufiC6Bj8USPemR4O7ucPbydk7z2cAnv1L0-d~QkxxcdDXAKtv6USGKGqPVz7tUt7WOLRhlO~PngGzpfX-nzmIcZbEgW7HZSLydeZdWtcC1tvJtdHQ0BymDEgGydmabtyTgFhEJtOPPaqw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.row.row-1 {
  width: 100%;
  height: 320px;
}
.row.row-2 {
  width: 100%;
  height: 230px;
}

.row.row-2,
.row-2 img {
  width: 100%;
  height: 230px;
}
.col-xxl-5-cus{
  width: 47%;
}
.col-xxl-7-cus{
  width: 53%;
}

i {
  font-size: 60px;
}

.pf i {
  opacity: 0;
  font-size: 20px;
  transition: 0.5s;
}

.pf i:hover {
  cursor: pointer;
}

.header-abt {
  padding: 0px 250px 0px 250px;
}

.abt-box {
  height: 430px;
  width: 100%;
  padding: 0px 15px 0px 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.img-pf {
  width: 140px;
  height: 140px;
  transition: 0.5s;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: fill;
  background-color: #0057b2;
  transition: 0.5s;
}

.cus-card:hover > .pf i {
  opacity: 1;
}

.cus-card:hover > .img-pf {
  transform: scale(1.1);
}

@media screen and (max-width: 576px) {
  .bg-img-head {
    width: 100%;
    height: 670px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 100%,
        transparent 70%
      ),
      url("https://s3-alpha-sig.figma.com/img/8d88/d83a/4d67b64c423437bee592269953cd17ad?Expires=1679270400&Signature=ENLFSzsYoIuolB-qKh0goCJ4ez4-ao6rd-LPQvka2nbPRUJx1uP-q9x329tj~j1QF0Dlxhuo5Bt4K93WSGBUzdpIwCv3Ghcn4JZsyP8D2N0-XFPtGWMyalPeHzSIzdUcGutWmGMc4zchAOkgkw4ycFMufpXvaaClwlG5Ulp-wMeq-nN5Vo3MdXkMZnnMU4aV0R51EnOW4VWITPDr~H8bfOFbiwDQ3sB84dJ7WEa45cn~HsYboctPjnEHsSmkQqRbEgOYSpvAvDZC4BBlfCZVP8XrAMwJF1vqeDZm6qYKi1T8FNTz49A5o8jnOVk46WSwbFFAOZLT76K8DSLnvCRGvw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70%;
  }

  .img {
    width: 100%;
    height: 400px;
    background-color: #0057b2;
  }

  .bg-img-body {
    width: 100%;
    height: 300px;
    background-color: #0057b2;
  }
  .bg-img-body-1 {
    height: auto;
    background-color: #0057b2;
    background-image: url("https://s3-alpha-sig.figma.com/img/2e1d/7c36/8efd4d47b861db4d18cc58a2e0d9a8bb?Expires=1679270400&Signature=ky3DUHN4X3VEknOoZp88Y3avz-35~ihCU6JBFYNMu7vpUvblXxnhxbUci5kOKtTpot5CYsihoqELikVhAkp4PneMBgURzReXTlHgadxaEmA227OkAWz~RLurNUmSdXLHgO5GM32VzXo4EAEJ7lrb4tyku~bA48H4yQRO9MbpcwK6S5NCcn67A1Jy7mvhCv36FONWxe5YjufiC6Bj8USPemR4O7ucPbydk7z2cAnv1L0-d~QkxxcdDXAKtv6USGKGqPVz7tUt7WOLRhlO~PngGzpfX-nzmIcZbEgW7HZSLydeZdWtcC1tvJtdHQ0BymDEgGydmabtyTgFhEJtOPPaqw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  }

  .row.row-1 {
    width: 100%;
    height: 100%;
  }
  .row.row-2,
  .row-2 img {
    width: 100%;
    height: 200px;
  }
  .col-xxl-5-cus{
    width: 100%;
  }
  .col-xxl-7-cus{
    width: 100%;
  }
  .mb-lh {
    line-height: 30px;
  }

  .header-abt {
    padding: 0px;
  }
  .img-pf {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #0057b2;
  }
  .pf i {
    opacity: 1;
  }
  .cus-text {
    transform: translateY(0%);
  }
  .cus-img-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0, 0.15);
  }
}
