<div class="aboutus" style="overflow: hidden">
  <div class="bg-img-head position-relative">
    <div class="header-text text-white">
      <h1 class="fw-bold fs-96 fs-sm-34 text-center">About Us</h1>
    </div>
  </div>
  <div class="line"></div>
  <div class="bg-blue">
    <div class="container px-xxl-auto px-4">
      <div class="row py-6 p-0">
        <div class="col-xxl-6 col-12 pe-6">
          <p class="fs-46 fw-700 mb-xxl-5 mt-xxl-0 mt-5 fs-sm-34">
            Sed ut perspiciatis unde omnis
          </p>
          <p class="fs-link">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
            fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
          </p>
        </div>
        <div class="col-xxl-6">
          <div class="row">
            <div class="col-xxl-6 mb-xxl-0 mb-4">
              <div class="w-100">
                <img
                  class="img"
                  src="https://s3-alpha-sig.figma.com/img/5363/67ac/f55f5d7a4c898dd7d0d58850cc3b6231?Expires=1679270400&Signature=be-CaMk~dFPn~7ai9trrDLGWzQUvqnlsGQCWv0rmz7Wc00rFUrXyfa~rWuNVodzJSFV55MiMgeJXSdIhDaJpAeIPAjhBfQGtdVdjPyq-MruP7NMmQuzxyBhRVF-kCAwy~PGw7lsZQ1fDn5JH4zV1jBhuWCZAyBVHrMxK7IyodkJT30qHE4ILs-i5CNeUzsopS~Hx5szOKuS9AqqQB84Ki5CLTB0XegfSjZ8njaUsSnr4WRdAWU0JqQkpp05f7U5Fs-yVK39tRNv-plh~QBbR6DK2Tn0khVywdNwAIpnO1TQ1wC-ZEPJC4IrBXdSDxKo7AsfOZHZuPjDw1dXMpDR4UQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                  alt=""
                />
              </div>
            </div>
            <div class="col-xxl-6 mb-xxl-0 mb-4">
              <div class="w-100">
                <img
                  class="img"
                  src="https://s3-alpha-sig.figma.com/img/29f7/1e6f/c73be55143ccb15a3de5ae4476586428?Expires=1679270400&Signature=mwuHRBmoX2KevgwHii6WCWoeDtKSSKHlYo6fUWFFEwgHA1Zs2izbIhfc192eKVaH307UeqGgjX6ekVoEiaE9EUf6bQYPNwXljgaxRGan9~LIofWPlQsJNsMYLODFtlscz9gzRHRqjjkC2riSF7mtdDgAcXeLDVtq9AuQtjOe~O1-o01huXsWMHk0W7UhA~uD~oGoDsjQL5PKOe4OV-OO3xCJ7T6oCY54KNwIvCQwm8aLzTgnazLOaoI9iJg3OVMlDqm4Oh98ghB7rdgRiERNCc6BOAIUkKim8Pi5OhuuvvwZWL8A8w0W5F6b57~rbI0ULZSgbz2bGjHQtyJmgfAFAQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-5 p-0">
      <img
        class="bg-img-body"
        src="https://s3-alpha-sig.figma.com/img/bf63/31fe/ed83fe399bf5966d18149e90262e69c3?Expires=1679270400&Signature=J-RKJ9ddYkblWnSSqzdQhadvRHo2A2Kvg3vOhu2SzKnmiovKUlEA0skGLA0ulr~LGMUyHsOGU7~PtqdhFlyeL2TBa2O~XAkHwyEArFY5xwDXJPes6dsTyHwfXDPOrc-pGrP2V0vGZJ9HGAUcesqzcSbfyqbT42Uk6quyx2mxwyYuUAcQou1MzHFFGudephkQBmlJz-qFmWMv3~q6mLvs8yReh5WiXFgq-NtFoQPz9Yq12--hCaJN5q-VyasxS8nqTNV-r9VtlN9wo~7OZAcvFu6ZDtyiyMF0RkjiOskzg0LYRGsYPIHwmnHz0nEnz07ZNk-eQq4ews9~sOEutuzhXw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
        alt=""
      />
    </div>
    <div class="col-xxl-7 p-0">
      <div class="row bg-img-body-1">
        <div class="row row-1">
          <div class="col-xxl-7 p-5">
            <p class="fw-700 text-white fs-46 fs-sm-34 mb-xxl-3 mb-4">
              Excellent service.
            </p>
            <p class="fs-link text-white fs-sm-16 mb-lh">
              As important as strategy is, we have to execute to win. Execution
              involves every employee and every relation we have with customers.
              We must operate quickly on problems, drive results, not just
              activities.
            </p>
          </div>
        </div>
        <div class="row row-2">
          <div class="col-6 p-0">
            <img
              src="https://s3-alpha-sig.figma.com/img/7701/c726/4e5f91115f3b757a165d95330f514e90?Expires=1679270400&Signature=fXNyRMaOs19jmn9mFE5O9CTqiFPfZ2LrOBDT4UOSSEyvkkP~q-eb26LowHF85hk0MpdVAKJDVT9iSyPffpOFnny3r07v-98odtjLCwqRL-fCJo0nb5mvTR0An~y~ncUNe9BNj4JCVelNoPG9zgJ76NB353OPnT-i29Zgzazie0QGZ4ZwyGwr7MsffnSNR0Yj5Vi5ux-1qCQXbUFzPUAoKaNvLhapOoHLV~MNhRFz2m-vSGX3Lgg0CmwsUswvjw4EuEll~VB994rtDvOevcWW4HFb~plIsjWqYVBdJym5moy3yGrVLU1Bp1Ukicj3I1KocDQ1y5pNIdk147sKmu5Usw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              alt=""
            />
          </div>
          <div class="col-6 p-0">
            <img
              src="https://s3-alpha-sig.figma.com/img/9985/0ac2/b3ab9bec77c1b8b7a9b16b979394b3a8?Expires=1679270400&Signature=T38M6t8AM2JQte0APWZbHLCuTo4SAhI2j2FCWTt1MyG8~lLlLesZV0PjNcZLjN1X-WtiTrEmrRSJ9ourT~QoxMq05hJojCp5Hq3tJfy0l4BIlbq2G3fPuQWmULiY-8LUDzDeQufDgu8q56Gga8tgoc7i36FByEkp0hfnyldSInSMZazvwQX9IBHsuXGpgcfV897o9pOlTOE6GNu-WqGqgqOXyPOzsBnawCAdVtdDuSHrHwGzkRani7hLzPsVu7totHPdA19RKWv~h8cHNB7jcBgxp2KiNeD~cDMUXOSgQ~2aBm9P2Isl1u7m3TJYuqMkbfxtTKxtWs9wCG3zJLvQdQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container px-xxl-auto px-4">
      <div class="row py-5">
        <p class="fs-content blue fw-600 m-0 fs-sm-18">OUR SERVICES</p>
        <p class="fw-700 fs-46 m-0 fs-sm-34">Hotel Facilities</p>
      </div>
      <div class="row">
        <div class="col-xxl-4" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
          <app-HotelFacilities></app-HotelFacilities>
        </div>
      </div>
      <div class="text-center py-5">
        <button class="btn fs-content blue fw-600 px-4 hover-blue">
          Book Now
        </button>
      </div>
    </div>
  </div>
</div>
