<div class="bg-blue">
  <div class="bg-image fw-700">
    <p>About US</p>
  </div>
  <div class="page2">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6">
          <div class="title fw-700">
            <p>
              Sed ut perspiciatis <br />
              unde omnis
            </p>
          </div>
          <div class="discretion-1 fs-link">
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit <br />
              aspernatur aut odit aut fugit, sed quia consequuntur <br />
              magni dolores eos qui ratione voluptatem sequi nesciunt. <br />
              Neque porro quisquam est, qui dolorem.
            </p>
          </div>
        </div>
        <div class="col-xxl-6">
          <div class="row">
            <div class="col-xxl-6">
              <div class="hotel-image"></div>
            </div>
            <div class="col-xxl-6">
              <div class="coffee-image"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page3">
  <div class="row">
    <div class="col-md-6 col-xxl-5">
      <div class="image-1"></div>
    </div>
    <div class="col-md-6 col-xxl-7">
      <div class="row">
        <div class="image-2 fw-700 title-1">
          <p>Excellent service.</p>
          <p class="fs-link">
            As important as strategy is, we have to execute to win. <br />
            Execution involves every employee and every relation we <br />
            have with customers. We must operate quickly on <br />
            problems, drive results, not just activities.
          </p>
        </div>
        <div class="image-3 col-xxl-3">
          <div>
            <div class="image-4 col-xxl-3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page4">
      <div class="container">
        <div class="l-blue fs-content fw-600">OUR SERVICES</div>
        <div class="title fw-700 dark">Hotel Facilitie</div>
        <div class="row">
          <div class="col-xxl-4">
            <app-HotelFacilities></app-HotelFacilities>
          </div>
          <div class="col-xxl-4">
            <app-HotelFacilities></app-HotelFacilities>
          </div>
          <div class="col-xxl-4">
            <app-HotelFacilities></app-HotelFacilities>
          </div>
        </div>
        <div class="row pt">
          <div class="col-xxl-4">
            <app-HotelFacilities></app-HotelFacilities>
          </div>
          <div class="col-xxl-4">
            <app-HotelFacilities></app-HotelFacilities>
          </div>
          <div class="col-xxl-4">
            <app-HotelFacilities></app-HotelFacilities>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-4 pb-6">
    <div class="text-center">
      <button class="btn blue fw-600 px-4 hover-blue">Book Now</button>
    </div>
  </div>
</div>
