.bg-img-head {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("../../assets/resources/conference/head_meet.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
}

.header-text {
  position: relative;
  top: 45%;
}

.line {
  width: 100%;
  height: 10px;
  background-color: #0057b2;
}

.bg-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/5d2f/ec45/eccda3f82c0a9a60eb6ebea1fd3ca355?Expires=1688947200&Signature=i~ba3~KP4OegrY3aTWEkouK6TF1wGrL1ZQacFbdEC7x4CgkC8wWcbdN39hTxRK9DWBXDQc5EVsGiC9~0kGoLIGOIlhMwB1dfd~DB8ElLxrwm6b8yOFbpVc1FbysBxstMLwCSiDDgPQUpubJFXjI1wMYUxYX3D6k3D1hznylNkotuNug91Nzj1mmBQvXANwqLohF83VWAX6L6NDQpbOb~lu2YXTXfLdAFr3f90QJS6RM2n4IYf3~CUiWMmbLvQNH2EdiBJhRNCKGHBNZGV8Qn4l9oKUAwla1VCKWk~bwaXmkxFVFFYGJ8zO6xgTv7H1sk9kjz8UhhPBFGhxcl2SztXQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}

.box {
  height: 550px;
  background-color: #0057b2;
}

.btn {
  width: 150px;
}

@media screen and (max-width: 576px) {
  .bg-img-head {
    width: 100%;
    height: 670px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 100%,
        transparent 70%
      ),
      url("../../assets/resources/conference/head_meet.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
  }

  .box {
    height: 630px;
    background-color: #0057b2;
  }
}
