<div class="allpage">
  <div class="row g-0">
    <div class="col-2 sm-2">
      <app-MenuPage></app-MenuPage>
    </div>
    <div class="col-10 bg">
      <!-- Sreach -->
      <div class="bg1 border rounded"></div>
      <div class="bg2">
        <div class="row container">
          <div class="col-4 sm-1 gy-1">
            <p><b>Room&nbsp;Type</b></p>
          </div>
          <div class="col-4 sm-3 colorgray gy-1">
            <span class="material-symbols-outlined"> chevron_right </span>
          </div>
          <div class="col-4 col-sm-4 colorgray gy-1">
            <p>Add&nbsp;New&nbsp;Room&nbsp;Type</p>
          </div>
        </div>
        <div class="container overflow-hidden">
          <div class="row">
            <div class="col-6 sm-3 g-3">
              <button class="btn icon" (click)="onClickBack()">
                <span class="material-symbols-outlined"> arrow_back </span>
              </button>
            </div>
            <div class="col-6 col-sm-2 fw-700 fs-32">
              <p>Add&nbsp;New&nbsp;Room&nbsp;Type</p>
            </div>
            <!-- EditAllRoom -->
            <div class="row">
              <div class="col-4 col-sm-4">
                <p>Room Type</p>
              </div>
              <div class="col-4 col-sm-4">
                <p>Price</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-sm-4">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control input"
                    aria-label="Text input with dropdown button"
                  />
                </div>
              </div>
              <div class="col-4 col-sm-3">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control input"
                    aria-label="Text input with dropdown button"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-sm-4">
                <p>Room Size(m2)</p>
              </div>
              <div class="col-4 col-sm-4">
                <p>Bed type</p>
              </div>
              <div class="col-4 col-sm-4">
                <p>Capacity</p>
              </div>
            </div>

            <div class="row">
              <div class="col-4 col-sm-4">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control input"
                    aria-label="Text input with dropdown button"
                  />
                </div>
              </div>
              <div class="col-4 col-sm-4">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select Rooms Type</option>
                  <option value="1">Single Bed</option>
                  <option value="2">Double Bed</option>
                  <option value="3">2 Double Bed</option>
                </select>
              </div>
              <div class="col-4 col-sm-4">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select Capecity</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">5</option>
                  <option value="4">10</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-sm-4">
              <p>Room Type</p>
            </div>
            <div class="col-4 col-sm-4">
              <p>Price</p>
            </div>
            <div class="col-4">
              <p class="fw-500">Offering</p>
            </div>
            <div class="row">
              <div class="col-4 col-sm-4">
                <div class="mb-3">
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="7"
                  ></textarea>
                </div>
              </div>
              <div class="col-4 col-sm-4">
                <div class="mb-3">
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="7"
                  ></textarea>
                </div>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-4 checkbox4">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault"
                        >Wifi</label
                      >
                    </div>
                  </div>
                  <div class="col-4 checkbox3">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault"
                        >Pool</label
                      >
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault"
                        >Tranportation</label
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4 checkbox1">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault"
                          >Dinner</label
                        >
                      </div>
                    </div>
                    <div class="col-4 checkbox1">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault"
                          >Lunch</label
                        >
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault"
                          >BreakFast</label
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 checkbox2">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label" for="flexCheckDefault"
                            >Bathtub</label
                          >
                        </div>
                      </div>
                      <div class="col-4 checkbox5">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label" for="flexCheckDefault"
                            >Coffee</label
                          >
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                          />
                          <label class="form-check-label" for="flexCheckDefault"
                            >Extra bed</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="row">
              <div class="col col-sm-2 gx-3">
                <button type="button" class="btn save">Save</button>
              </div>
              <div class="col col-sm-3 gx-0">
                <button
                  type="button"
                  class="btn cencle"
                  onclick="window.location.href='http://localhost:4200/#/admin/allroomtype'"
                >
                  Cancle
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
