<div class="bg-image">
  <div class="pt">
    <div class="bg-color">
      <div class="pt-17">
        <div class="logo"></div>
        <div class="pt-33">
          <div class="fs-28 fw-600 text-center">Login as ADMIN</div>
        </div>
        <div class="pt-45">
          <div class="form-floating mb-45">
            <input
              type="email"
              class="form-control user"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control pass"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
        </div>
        <hr />
        <div class="mt-40" (click)="onClickLogin()">
          <button class="btn login fw-600 fs-28">LogIn</button>
        </div>
      </div>
    </div>
  </div>
</div>
