<div class="bg">
  <div class="bg-color">
    <div class="logo"></div>
    <div class="text fw-600 fs-28 mt-4">
      <p>Login As ADMIND</p>
    </div>
    <div class="mt-4">
      <input type="text" id="form1" class="form-control input1 mt-4 " placeholder="UserName" />
      <input type="text" id="form1" class="form-control input1 mt-4" placeholder="Password" />
    </div>
    <div class="mt-5 px-5">
      <hr>
    </div>
    <div class="mt-4">
    <button class="btn login rounded">
      <div class="fs-28 fw-600 text-white">Login</div>
    </button>
    </div>
  </div>
</div>
