<div class="search-box">
  <div class="bg-box">
    <div class="row h-100 p-xxl-0 p-3 px-xxl-auto px-4">
      <div class="col-xxl-3 p-xxl-3 ps-xxl-5">
        <p class="text-white fs-link fw-700 mb-0">Check-in:</p>
        <mat-form-field appearance="fill">
          <mat-label>Check-in date</mat-label>
          <input matInput [matDatepicker]="picker" class="bg-blue" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-xxl-3 p-xxl-3 ps-xxl-3">
        <p class="text-white fs-link fw-700 mb-0">Check-out:</p>
        <mat-form-field appearance="fill">
          <mat-label>Check-out date</mat-label>
          <input matInput [matDatepicker]="picker2" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-xxl-2 p-xxl-3 ps-xxl-3 mb-xxl-auto mb-4">
        <p class="text-white fs-link fw-700 mb-0">Rooms:</p>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown button
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xxl-2 p-xxl-3 ps-xxl-3 mb-xxl-auto mb-4">
        <p class="text-white fs-link fw-700 mb-0">Adults:</p>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown button
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
      <div class="bg-btn col-xxl-2 check-available position-relative">
        <div
          class="fs-lg-content fw-700 pc-res w-100 text-center py-xxl-auto py-2"
        >
          Check Available
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="bg-btn check-available position-relative">
      <div
        class="fs-lg-content fw-700 position-absolute top-50 start-50 translate-middle w-100 text-center"
      >
        Check Available
      </div>
    </div> -->
</div>
