<div class="allpage overflow-hidden">
  <div class="row h-100 p-0 m-0">
    <div class="menu-size h-100 p-0">
      <app-MenuPage></app-MenuPage>
    </div>
    <div class="col ms-2 h-100 p-0 scroll">
      <div class="row p-0 m-0 w-100" style="height: 10%">
        <div class="border size rounded bg-white"></div>
      </div>
      <div class="row p-0 m-0 w-100" style="height: 87.7vh">
        <div class="size1 border rounded bg-white">
          <div class="row p-0 m-0">
            <div class="p-0 position-relative d-flex justify-content-between">
              <div>
                <p class="fs-32 fw-700">All Reservation</p>
              </div>
              <div>
                <button
                  type="button"
                  class="btn hover-blue dblue py-2 px-3"
                  (click)="onClickAddReservation()"
                >
                  <div class="d-flex position-relative justify-content-between">
                    <div class="icon my-auto"></div>
                    <div class="fs my-auto mx-1 fw-600">Add Reservation</div>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="table borders">
            <table id="customers">
              <tr class="fw-600">
                <th>No</th>
                <th>Full Name</th>
                <th>Phone</th>
                <th>R.Num</th>
                <th>Date - In</th>
                <th>Date - Out</th>
                <th>Stay Duration</th>
              </tr>
              <ng-container *ngIf="!isLoading">
                <!-- table here -->
              </ng-container>
              <ng-container *ngIf="isLoading">
                <tr *ngFor="let item of [].constructor(10)">
                  <td
                    *ngFor="let item of [].constructor(7)"
                    style="height: 51px"
                  >
                    <div>
                      <ngx-skeleton-loader
                        [theme]="{
                          margin: '0px',
                          width: '100%',
                          height: '33px',
                          position: 'relative',
                          display: 'flex',
                          background: '#f0f0f0'
                        }"
                        animation="progress"
                      ></ngx-skeleton-loader>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <ng-container
                *ngFor="let item of getRange(getEmptyList()); let i = index"
              >
                <tr *ngIf="!isLoading">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="d-flex position-relative justify-content-center">
                    <div style="height: 35px"></div>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
          <div class="d-flex justify-content-end" *ngIf="getloadedList() > 1">
            <div
              class="d-flex justify-content-around fs-15"
              [ngClass]="isLoading ? 'disabled' : ''"
              style="width: auto; height: 20px"
            >
              <div
                id="previous"
                class="fw-600 fs-14 btn p-0 me-1"
                style="border: none"
                (click)="navigatePage(-1)"
              >
                Previous Page
              </div>
              <div
                class="page-num mx-1"
                [ngClass]="index == 0 ? 'active' : ''"
                *ngFor="
                  let item of getRange(getloadedList());
                  let index = index
                "
                (click)="onClickChangePage(index)"
              >
                {{ index + 1 }}
              </div>
              <div
                id="next"
                class="fw-600 fs-14 btn p-0 ms-1"
                style="border: none"
                (click)="navigatePage(1)"
              >
                Next Page
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
