.bg-siliver {
  background-color: #eaeded;
}

.free-top {
  width: 100%;
  height: 173px;
}

.free-top {
  top: 85px;
}

.bg-room {
  height: 340px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
}

img {
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-box {
  border-radius: 0px 10px 10px 0px;
}

.search-box {
  width: 99%;
  height: 120px;
  background-color: inherit;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  top: -60px;
  position: absolute;
}

.onHover select:hover {
  cursor: pointer;
}

.pc-res {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.bg-box {
  width: 100%;
  height: 100%;
  background-color: #002449;
}

.bg-btn {
  height: 100%;
  background-color: #d1e8fd;
}

.bg-btn > div {
  color: #307bf6;
}

.date {
  width: 100%;
  height: 50px;
  background-color: #d1e8fd;
}

/* Dtaepicker style */

.mat-mdc-form-field {
  display: block;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: whitesmoke;
}

.bg-btn.check-available:hover {
  transition: 0.3s;
  background-color: #307bf6;
  color: white;
  cursor: pointer;
}

.bg-btn:hover > div {
  color: white;
}

.form-select {
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.6);
  padding: 0.9rem 2.25rem 0.9rem 0.75rem;
  border: 1px;
  background-color: whitesmoke;
  border-radius: 0.275rem 0.275rem 1px 1px;
}

button.submit {
  border: none;
  background-color: inherit;
  color: #307bf6;
}

button.submit:hover {
  color: white;
}

.not-available {
  width: 100%;
  height: 70vh;
}

@media screen and (max-width: 576px) {
  .search-box {
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: relative;
    top: 0px;
  }
  .bg-box {
    width: 100%;
    height: 100%;
    background-color: #002449;
  }
  .d-flex {
    flex-direction: column;
  }
  .pc-res {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%) !important;
  }
  .free-top {
    width: 100%;
    height: 510px;
  }
  .free-top {
    top: 10px;
  }
  .bg-room {
    height: 100%;
  }
  img {
    border-radius: 10px 10px 0px 0px;
  }
  .info-box {
    border-radius: 0px 0px 10px 10px;
  }
  .d-flex {
    flex-direction: row;
  }
}
