<div class="bg-siliver" style="z-index: 1">
  <div
    *ngIf="isLoading"
    class="position-absolute"
    style="
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      z-index: 2;
      opacity: 0.4;
    "
  ></div>
  <div class="container">
    <div class="space-top">
      <div class="position-relative free-top w-100">
        <form [formGroup]="form" (submit)="onSubmit()">
          <div class="search-box">
            <div class="bg-box">
              <div class="row h-100 p-xxl-0 p-3 px-xxl-auto px-4">
                <div class="col-xxl-3 px-0 p-xxl-3 ps-xxl-5">
                  <p class="text-white fs-link fw-700 mb-0">Check-in:</p>
                  <mat-form-field appearance="fill">
                    <mat-label>MM/DD/YYYY</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      class="bg-blue"
                      formControlName="date"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xxl-3 px-0 p-xxl-3 ps-xxl-3">
                  <p class="text-white fs-link fw-700 mb-0">Check-out:</p>
                  <mat-form-field appearance="fill">
                    <mat-label>MM/DD/YYYY</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker2"
                      formControlName="date1"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker2"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div
                  class="col-xxl-2 px-0 p-xxl-3 ps-xxl-3 mb-xxl-auto mb-4 onHover"
                >
                  <p class="text-white fs-link fw-700 mb-0">Rooms:</p>
                  <select
                    class="form-select fs-link"
                    aria-label="rooms"
                    formControlName="rooms"
                  >
                    <option value="0">Optional</option>
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                </div>
                <div
                  class="col-xxl-2 px-0 p-xxl-3 ps-xxl-3 mb-xxl-auto mb-4 onHover"
                >
                  <p class="text-white fs-link fw-700 mb-0">Adults:</p>
                  <select
                    class="form-select fs-link"
                    aria-label="adults"
                    formControlName="adults"
                  >
                    <option value="0">Optional</option>
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                </div>
                <div
                  class="bg-btn col-xxl-2 check-available position-relative px-0"
                >
                  <button
                    class="submit h-100 w-100 fs-lg-content fw-700 pc-res text-center py-xxl-auto py-2"
                    type="submit"
                  >
                    Check Available
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="isLoading">
      <div
        class="position-absolute top-50 start-50 translate-middle"
        style="z-index: 3"
      >
        <div class="dot-spinner">
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
          <div class="dot-spinner__dot"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div *ngIf="check">
        <div *ngFor="let item of roomData">
          <div
            class="row bg-room mb-xxl-4 mb-3"
            *ngIf="checkEachRoom(item.name)"
          >
            <div class="col-xxl-5 p-0 h-100">
              <img [src]="item.url" alt="img" />
            </div>
            <div
              class="col-xxl-7 bg-white px-xxl-5 py-xxl-4 p-3 info-box h-100"
            >
              <div
                class="ms-1 d-flex flex-column justify-content-between h-100"
              >
                <div class="d-flex justify-content-between">
                  <h2 class="fs-lg-content fw-700 blue">{{ item.name }}</h2>
                  <div class="d-flex position-relative h-100">
                    <h2 class="fs-link fw-700 green my-auto">
                      Available: {{ checkEachRoomAvailable(item.name) }}
                    </h2>
                  </div>
                </div>
                <p
                  class="mb-2"
                  style="
                    color: #6c757d;
                    overflow: hidden;
                    max-width: fit-content;
                  "
                >
                  {{ truncateText(item.mainDescription, 250) }}
                </p>
                <div class="row">
                  <div class="col-xxl-6 my-1">
                    <div class="d-flex position-relative">
                      <i class="bi bi-info-square-fill blue fs-22"></i>
                      <p class="ms-2 fw-600 my-auto">{{ item.bedType }}</p>
                    </div>
                  </div>
                  <div class="col-xxl-6 my-1">
                    <div class="d-flex position-relative">
                      <i class="bi-grid-3x3-gap-fill blue fs-22"></i>
                      <p class="ms-2 fw-600 my-auto">{{ item.roomSize }} m2</p>
                    </div>
                  </div>
                  <div class="col-xxl-6 my-1">
                    <div class="d-flex position-relative">
                      <i class="bi bi-people-fill blue fs-22"></i>
                      <p class="ms-2 fw-600 my-auto">
                        Up to {{ item.capacity }} Adults
                      </p>
                    </div>
                  </div>
                  <div class="col-xxl-6 my-1">
                    <div class="d-flex position-relative">
                      <i class="bi bi-cup-fill blue fs-22"></i>
                      <p class="ms-2 fw-600 my-auto">Free Breakfast</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="d-flex h-100">
                      <div class="fs-content position-relative my-auto me-3">
                        <b class="fs-lg-content fw-700">${{ item.price }}</b
                        >/per
                      </div>
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="d-flex justify-content-end">
                      <button
                        class="btn px-4 blue hover-blue fs-content fw-600"
                        (click)="onClickBook(item)"
                      >
                        Book Now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="ordering">
    <form [formGroup]="form" (submit)="confirmBooking()">
      <div *ngIf="ordering" class="container" id="input_info">
        <div class="row">
          <div class="col-lg-7 pe-3 mt-4">
            <div class="traveller-info">
              <div class="w-100 d-flex bg-dblue p-2 px-3">
                <h4 class="fw-700 d-flex align-items-center m-0">
                  Traveller Information
                </h4>
              </div>
              <div
                class="d-flex justify-content-between flex-column p-3 bg-white"
              >
                <div class="d-flex justify-content-between">
                  <div class="pe-3">
                    <mat-form-field>
                      <mat-label>Select</mat-label>
                      <mat-select formControlName="gender">
                        <mat-option value="one">Mr</mat-option>
                        <mat-option value="two">Mrs</mat-option>
                        <mat-option value="two">Ms</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <mat-form-field class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" />
                  </mat-form-field>
                </div>
                <mat-form-field class="w-100">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" />
                </mat-form-field>
                <mat-form-field class="w-100">
                  <mat-label>Phone</mat-label>
                  <input matInput formControlName="phone" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Special Request</mat-label>
                  <textarea matInput formControlName="request"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-lg-5 mt-4 selection-info">
            <div class="w-100 d-flex bg-dblue p-2 px-3">
              <h4 class="fw-600 d-flex align-items-center m-0">
                Your Selection
              </h4>
            </div>
            <div class="d-flex p-3 bg-white">
              <div class="col-6">
                <p>Check In</p>
                <p>Check Out</p>
                <p>Room</p>
                <p>Num of Room</p>
                <p>Guest</p>
              </div>
              <div class="col-6">
                <p class="fw-700">: {{ getCheckInData }}</p>
                <p class="fw-700">: {{ getCheckOutData }}</p>
                <p class="fw-700">: {{ tmp.name }}</p>
                <p class="fw-700">: {{ noRoom }}</p>
                <p class="fw-700">: {{ getGuestData }}</p>
              </div>
            </div>
            <div
              class="d-flex p-3 pb-2 bg-white"
              style="border-top: 1px solid black"
            >
              <div class="col-6">
                <p class="mb-2">Amount</p>
                <p class="mb-2">Taxes</p>
              </div>
              <div class="col-6">
                <p class="fw-700 mb-2">: ${{ tmp.price }}</p>
                <p class="fw-700 mb-2">: $0</p>
              </div>
            </div>
            <div class="w-100 d-flex bg-main p-2 px-3">
              <p class="text-white fw-700 m-0 col-6">Total Amount</p>
              <p class="text-white fw-700 m-0 col-6">
                : ${{ tmp.price * noRoom }}
              </p>
            </div>
          </div>
          <div class="col-lg-5 mt-2 mb-5 pt-2">
            <button class="w-100 btn dblue hover-blue">
              Confirm Booking
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Modal body content goes here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
