.broder-1{
  padding: 1rem;
  border: #D1E8FD solid 1px;
  height: 212px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.image-1{
  content: url('https://s3-alpha-sig.figma.com/img/c364/478b/03d9225d93df988df0175ca7247443b1?Expires=1678060800&Signature=k9WYZK3JI8iXwGhoEeTk7wsrdLKFbiwUYbDKbCC4KbRks2tkql6baFeiAZvJgHX9Ga8XGaSMCF79vukCPOlGYTWYOEB1sqdr1FaUlO1~HMHdWhFPxqWNtF1mwlQWE6WVAZbZXBt-re75Hcq7D2ywG0QOsurpwejidb3ktbztuP7eopiSGW~QywnkjugaG0fx5Fi4OpMnm5Qg1-xirXbgpApR2xIBl2X6FsHi3BqprzRxe4hpYcGSu8FgbuEoGiLUKDrXOw60eBJnZMxDHEGN5vAoms~WrR85bDHhhrmU~9dQy6Ht5CONhNVDOKSrOZxvoY4IIXlsrnv26jgQ9aRUSA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  height: 45px;
  width: 44px;
}

