<div class="row">
  <div class="col-xxl-4">
    <div class="broder-1">
      <div class="image-1 mb-2"></div>
      <div class="blue fs-content fw-600 mb-2 fs-sm-20">Pick Up & drop</div>
      <div class="description pe-xxl-5">
        <p>
          We’ll pick up from airport while you comfy on your ride mus endue
          habitant.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xxl-4">
    <div class="broder-1">
      <div class="image-2 mb-2"></div>
      <div class="blue fs-content fw-600 mb-2 fs-sm-20">Parking Space</div>
      <div class="description pe-xxl-5">
        <p>
          Our parking are big space that easy for travels can put the car and
          have a security that they look 24/7.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xxl-4">
    <div class="broder-1">
      <div class="image-3 mb-2"></div>
      <div class="blue fs-content fw-600 mb-2 fs-sm-20">Room Service</div>
      <div class="description pe-xxl-5">
        <p>
          Is often available 24 hours a day, allowing guests to order meals at
          any time.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xxl-4">
    <div class="broder-1">
      <div class="image-4 mb-2"></div>
      <div class="blue fs-content fw-600 mb-2 fs-sm-20">Swimming Pool</div>
      <div class="description pe-xxl-5">
        <p>
          Swimming pool in our hotel is a recreational facility that allows
          guests to swim and relax during their stay.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xxl-4">
    <div class="broder-1">
      <div class="image-5 mb-2"></div>
      <div class="blue fs-content fw-600 mb-2 fs-sm-20">Fiber Internet</div>
      <div class="description pe-xxl-5">
        <p>
          fiber internet offers much faster download and upload speeds, as well
          as more reliable connectivity.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xxl-4">
    <div class="broder-1">
      <div class="image-6 mb-2"></div>
      <div class="blue fs-content fw-600 mb-2 fs-sm-20">Breakfast</div>
      <div class="description pe-xxl-5">
        <p>
          Hotel restaurant or dining area, where guests can order breakfast to
          delivered directly to their room.
        </p>
      </div>
    </div>
  </div>
</div>
