.broder-1{
  padding: 1rem;
  border: #D1E8FD solid 1px;
  height: 212px;
  margin-top: 12px;
  margin-bottom: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.image-1{
  content: url('https://s3-alpha-sig.figma.com/img/37a7/eb2f/0f40d998488f55d4db41586a676e0146?Expires=1688947200&Signature=Ha0j3UfMmT-x1ufHKAeqQOgEihdtQ-k~JdwX-lD1KPQFGM6l72fCdng2zeQZpIuE4MUBDVsSwgJLI-bEqoFq~RoAOEAjLz3gsEZSJDZcO7Ut6KnHumwoYnQCkE5wvfRmZEuJO4uq5NWn33NwSBAE8sr9f2JmReBgu2ocEEXrTSruKhnYYzTfReMzHdQmfJS2jQXi9wVBpkX1QEL98h1cG1nxESXKz3usAEkwKMUw5BUBPHCC70q2zcXZfQ2xAhX9z9PS8uEBglh3dss7jMS~6ojOoJcpXC5lFA9rOmDRhow-0ob1SFZKS0QNn7f4JSnWWcz6JhLqS5C22rwGNdQFkg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  height: 45px;
  width: 44px;
}
.image-2{
  content: url('https://s3-alpha-sig.figma.com/img/6cfb/4ac8/8546e0d980de7f707f9a623d96265adc?Expires=1688947200&Signature=Aeu9TI7r1MHSWWbD584Hwa49QaFglCCi0aGtyVboiHsa9hOvINuUjIvtt8JKqBP42ePhN4UKxDiWZzCtCIFsxBDDjwVApkG0FwF8vJYZUXGO9A7ZLEIjxiUB38Nol3S6Ir6xbRSdR19-Ure9-Y4wCV3XgZ7abFAtR71nijrMNtJ4RYd9DPG2AYZOWwpR-cq5pftWwZdorqUar~mW0My4KSQ17xlreOzLVRYsy5qesx5G3oI7jJJEdM0YrlCNCJM5MiUemVdL~fNnR1oehHrw7vqXBzEdVqUZNcjysFHDMZMZuTnKy0M4jYzgIOz34sFhzYZ1SQE6H0hI9inZt2q7Bg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  height: 45px;
  width: 44px;
}
.image-3{
  content: url('https://s3-alpha-sig.figma.com/img/7ad7/b752/a5af12c6dc372861fe4c1fcb3871bd64?Expires=1688947200&Signature=iiDBc3WV~5SgsN~csYvAsoPu2SZKFt678ol1wJe511d8aEqkeQLvUoyrkXcFv7KORz1wMK6HJAZtIrcLVFr4R3ZuLESzxXFMop4-w20PG9CuVnlXnOmfoqiZSZYsN4ylNgihAVbtUZ5lIdxGIwr4OK3Sa2KuWAi~YCp7BnckVCe51b9cmLXp3VFLIvSLXKhtyEs4irpKJ1rZs7vv5p23aySCdHWpYuEo~FEiYpte5U1hzg-neFaaUMhEe-UoOqOPQhiqQU6QacUtPzbubUCEpBts3ERnSyryqnITKZKBU19G6pbtP7oVhmpc3dsX5aDYWZFaWMih1OWXLMSjw76JIQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  height: 45px;
  width: 44px;
}
.image-4{
  content: url('https://s3-alpha-sig.figma.com/img/74bd/b645/0f1806489a6ca942a2eb2517a3086d0b?Expires=1688947200&Signature=lBjkTy~eL1dN8eeJ2XZ1IMgVTvCuE1IoP883LoyPLvaUu4e~72VMfCXFmkkzi6XWKTmRmmc2OTDgnW6FU1I4TwCz2qzdsawzDyoB~rdj9vSNx24WXOBY79ZkZrxDBsYJDuxwq3R01fsxvjwWNyJ1m-LUBQ1FtY~wexnra0yh6qVF42rcbmVr5cMHa0egiH05qSRycQ1Np~~e1nqyJGRRBdvdVL7nI1FT2OMs-dx6IxVfkAQ~m71JBxnyH65UrTqU1YdKhVkOjSBSu9U28inYCw5zrmw0IFEWFUPDDt4tvaPxR3TRTshrK7jBsmbab8Yw~lTWO-QOoPq8h5CVD52q3w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  height: 45px;
  width: 44px;
}
.image-5{
  content: url('https://s3-alpha-sig.figma.com/img/05f5/2c9e/68b241b6e255faf85b07396015a08e7e?Expires=1688947200&Signature=ikEKllTEInmOwQhQ6mCXrwNH0oACrCgwP2JsP5Zdz68-RRC5lQc1mbmF2fXAJ4j-KMe8EGC7zGHGA9Ck3Z3ANSoqOWBCkdaATnqPRqJ3GhTjzBGcNoWybbAxzYto-N34bkaY02MM5uriKuUWH2yXKehhMaj6KGe3O5P~hovuI-6gFFJhQ4VOMpbb0TYDlYqWJYcMrbZshJbqFHjOYc0o6CjPfRIywDn5NCN1u-4pdMQjHlMGLtlp~48kkVUYNWDdWVsvpUe9TEhdyLvFf56S7QCFjZU2Wj4ar4xwMV3i5W6-lCj0dErU~0SqfFEiGUXt9wxFfSrwtKez4WO9HxvOLQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  height: 45px;
  width: 44px;
}
.image-6{
  content: url('https://s3-alpha-sig.figma.com/img/9bdb/2382/6201365a12fc303fa66ef1038feb8538?Expires=1688947200&Signature=JD0W6qltEuaLC5IplE-c-mvTYBYSudZw8LN3ZAluFpgGInSOd8FIwqRbcPv4JXszuVMmPnznP~umKi~~50nQwqemR~6ufKOAGh8ZLtJlS6qGZM7kGK-RPgn6lzapSvDl9hsoumP~-gdWBEL5-hf2zZkl-w2k7LkpycjxcOZaRA0UQ2PnomAMrunjzZjD9Pjtxo13Te9HE13zKPX-bO2SWEqxgp7TsUROF3PkvKRYgQijCCUxAiFv2TrlxXzO7ap163bpieobieYOduH7BiZaZsdbfXrk-7IICEfq~8oBgH2~hAUiIYqPpy1Db0ljECdEDIkz08lFToX3bsuQIP61IA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  height: 45px;
  width: 44px;
}

@media screen and (max-width: 576px) {
  .broder-1{
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

