.bg1{
  background-color: white;
  width: 99%;
  height: 75px;
}
.bg2{
  width: 99%;
  height: 640px;
  margin-top: 10px;
}
.sm-2{
  width: 13.666667%;
}
.sm-1{
  width: 6.33333%;
  margin-top: 2px;
}
.sm-3{
  width: 1.666667%;
}
.checkbox1{
  width: 26.5%;
}
.checkbox2{
  width: 28%;
}
.checkbox3{
  width: 30%;
}
.icon{
  border: none;
  --bs-btn-padding-y: -0.625rem;
}
