* {
  outline: red dashed 1px;
}

:host {
  --all-rooms: linear-gradient(
    260.68deg,
    #d1e8fd -1.92%,
    #9f30f6 -1.91%,
    #61aeff 100%
  );

  --rooms-available: linear-gradient(270deg, #003ad2 0%, #0097ec 100%);
  --service: linear-gradient(
    270.23deg,
    rgba(1, 149, 236, 0.3) 0.19%,
    #0194eb 99.8%
  );
  --meeting-events: linear-gradient(269.97deg, #5900c9 0.02%, #9852f0 99.98%);
  --weekly-income: linear-gradient(270deg, #4877c0 0%, #d4a8bf 100%);
  --monthly-income: linear-gradient(224deg, #e4bdd8 0%, #349ac0 100%);
  --overall-income: linear-gradient(224deg, #beecf5 0%, #349ac0 100%);
}

.allpage {
  width: 100%;
  height: 100vh;
  padding: 10px;
  margin: 0px;
  background-color: #f5f5f5;
  position: relative;
}
.size {
  height: 90%;
  width: 100%;
}
.menu-size {
  width: 240px;
}
.info-box {
  height: 100px;
  width: 100%;
  box-shadow: 4px 4px 10px #b2b6d9;
  border-radius: 12px;
}
.all-rooms {
  background: var(--all-rooms);
}
.service {
  background: var(--service);
}
.rooms-available {
  background: var(--rooms-available);
}
.meeting-events {
  background: var(--meeting-events);
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}

/* dashboard */
.activity {
  height: 100%;
  border-radius: 10px;
  background-color: white;
}
.detail-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffe7e7 0%, #dbd6ff 100%);
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.available {
  background-color: #22b07d;
}
.available-text {
  font-size: 14px;
  color: #22b07d;
}
.not-available {
  background-color: #f44336;
}
.not-available-text {
  font-size: 14px;
  color: #f44336;
}
.maintenance {
  background-color: #ffba2f;
}
.maintenance-text {
  font-size: 14px;
  color: #ffba2f;
}
.grey {
  color: #4c4c4c;
}
hr {
  font-weight: 500;
  opacity: 1;
  color: #e9e9e9;
  border-width: 2px;
}
.chart-col {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 10px #4c4c4c39;
}

/* income info box */
.income-info-box {
  height: 270px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 4px 4px 10px 0px rgba(78, 92, 100, 0.3);
}

.weekly-income {
  background: var(--weekly-income);
}

.monthly-income {
  background: var(--monthly-income);
}

.overall-income {
  background: var(--overall-income);
}

/* bar chart */
.chart-container {
  height: 85%;
  background-color: #fff;
}

/* pie chart */
.pie-chart-container {
  width: 270px;
  height: 270px;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 10px #4c4c4c39;
}

/* line chart */
.line-chart-container {
  width: 270px;
  height: 270px;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 10px #4c4c4c39;
}

/* top rating room */
.top-room-card {
  width: 100%;
  height: 70px;
  border-top: 2px solid rgba(80, 80, 80, 0.5)
}

.img-round {
  width:  55px;
  height: 55px;
  border-radius: 50%;
  background-color: #003ad2;
  overflow: hidden;
}

.img-round img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.star {
  color: #ffba2f;
  font-size: 10px;
}
