
<div class="allpage">
  <div class="row">
    <div class="col-2 col-sm-2">
      <app-MenuPage></app-MenuPage>
    </div>
    <div class="col-10 col-sm-2 mt-6">
      <div class="row">
        <div class="col-2 sm-1 mt-2">
          <button class="btn btn1">
            <div class="icon"></div>
          </button>
        </div>
        <div class="col-4">
          <div class="fw-700 fs-32">Add&nbsp;New&nbsp;User</div>
        </div>
      </div>
      <div class="bg mt-4 ms-5">
        <div class="container ps-3">
          <div class="row pt-3">
            <div class="col-4 col-sm-4">
              <p class="fw-500">Full Name</p>
            </div>
            <div class="col-4 col-sm-4">
              <p class="fw-500">Email</p>
            </div>
            <div class="col-4 col-sm-4">
              <p class="fw-500">Phone Number</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-sm-4">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Text input with dropdown button"
                />
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Text input with dropdown button"
                />
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Text input with dropdown button"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-sm-4">
              <p class="fw-500">Gender</p>
            </div>
            <div class="col-4 col-sm-4">
              <p class="fw-500">Salary</p>
            </div>
            <div class="col-4 col-sm-4">
              <p class="fw-500">Date of birth</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-sm-4">
              <select class="form-select fw-400 fs-16 mt-2" aria-label="Default select example">
                <option selected>Select Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </div>
            <div class="col-4 col-sm-4">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Text input with dropdown button"
                />
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Text input with dropdown button"
                  placeholder="  DD/MM/YYYY"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-sm-4">
              <p class="fw-500">Date-In</p>
            </div>
            <div class="col-4 col-sm-4">
              <p class="fw-500">Positon</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-sm-4">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Text input with dropdown button"
                />
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <select class="form-select fw-400 fs-16 mt-2" aria-label="Default select example">
                <option selected>Select Positon</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </div>
             <div class="mt-5">
              <button class="btn add fs-17 fw-600">Add User</button>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
