<div class="room-content pt-6 mt-5">
  <div class="bg-white">
    <div class="container px-xxl-auto px-4">
      <div class="mt-5 position-relative">
        <app-SearchBox></app-SearchBox>
      </div>
      <div class="row text-center px-xxl-3 px-auto p-xxl-auto p-2 pt-6">
        <div class="container p-0">
          <!-- Active image or big image -->
          <div
            class="mySlides"
            style="display: block"
            *ngFor="let item of imageData.slice(0, 1)"
          >
            <img [src]="item.url" class="mb-img" />
          </div>

          <!-- Unactive Image ignore the first one -->
          <div class="mySlides" *ngFor="let item of imageData | slice : 1">
            <img [src]="item.url" class="mb-img" />
          </div>

          <!-- bottom img -->
          <div class="row pt-xxl-1 px-xxl-2 px-2 mb-lg-3">
            <div
              class="col p-xxl-1 p-1"
              *ngFor="let item of imageData; index as i"
            >
              <img
                *ngIf="i === 0; else other"
                class="demo cursor active"
                [src]="item.url"
                style="width: 100%; height: 85%"
                (click)="currentSlide(i + 1)"
                alt="The Woods"
              />
              <ng-template #other>
                <img
                  class="demo cursor"
                  [src]="item.url"
                  style="width: 100%; height: 85%"
                  (click)="currentSlide(i + 1)"
                  alt="The Woods"
                />
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="row px-xxl-4 px-auto" *ngFor="let item of roomData">
        <p class="col-6 blue fw-700 fs-32 fs-sm-28 text-start">
          {{ item.name }}
        </p>
        <p class="col-6 text-end mt-xxl-0 mt-2">
          <b class="fw-700 fs-28 fs-sm-20">{{ item.price }}$</b
          ><b class="fs-content fs-sm-16 fw-600">/Night</b>
        </p>
        <div class="col-xxl-10 fs-content fs-sm-16">
          {{ item.mainDescription }}
        </div>
      </div>
      <div class="px-xxl-4 mt-5 col-xxl-6" *ngFor="let item of roomData">
        <h2 class="fs-28 fs-sm-18 fw-600">Amenities</h2>
        <div class="d-flex py-3">
          <div class="fs-link fs-sm-16 col-xxl-3 col-4">
            <i class="bi bi-person blue"></i>
            {{ item.capacity }} Persons
          </div>
          <div class="fs-link fs-sm-16 col-xxl-3 col-4">
            <i class="bi bi-person blue"></i> Twin Bed
          </div>
          <div class="fs-link fs-sm-16 col-xxl-3 col-4">
            <i class="bi bi-rulers blue"></i> 200 sqft
          </div>
        </div>
        <div class="d-flex pt-1">
          <div class="fs-link fs-sm-16 col-xxl-3 col-4">
            <i class="bi bi-wifi blue"></i> Free Wifi
          </div>
          <div class="fs-link fs-sm-16 col-xxl-3 col-4">
            <i class="bi bi-person blue"></i> Breakfast
          </div>
          <div class="fs-link fs-sm-16 col-xxl-3 col-4">
            <i class="bi bi-rulers blue"></i> Pool
          </div>
        </div>
      </div>
      <div class="px-xxl-4 mt-5 col-xxl-6">
        <h2 class="fs-28 fs-sm-18 fw-600">Hotel Rules</h2>
        <ul class="fs-content fs-sm-16 py-3 mb-0">
          <li>Be updated on our recent news and developments</li>
          <li>Prices below market</li>
          <li>Employee interest in the successful achievement of the tasks.</li>
        </ul>
      </div>
      <div class="py-xxl-5 py-4 px-xxl-4 px-2">
        <button class="btn px-4 blue fs-content fw-600 hover-blue">
          Book Now
        </button>
      </div>
    </div>
  </div>
  <div class="bg-blue">
    <div class="container">
      <div class="px-4 pt-5">
        <h1 class="fs-46 fs-sm-34 fw-700 blue">YOU MAY ALSO LIKE</h1>
        <p class="fs-content fs-sm-16 fw-600" style="color: #888888">
          DISCOVER MORE ROOMS
        </p>
      </div>
      <!-- (newRoomEvent)="getNewRoomDetail($event) go get data from the child component-->
      <app-Rooms (newRoomEvent)="getNewRoomDetail($event)"></app-Rooms>
    </div>
  </div>
</div>
