<div class="allpage overflow-hidden">
  <div class="row h-100 p-0 m-0">
    <div class="menu-size h-100 p-0">
      <app-MenuPage></app-MenuPage>
    </div>
    <div class="col ms-2 h-100 p-0 scroll">
      <div class="row p-0 m-0 w-100" style="height: 10%">
        <div class="border size rounded bg-white"></div>
      </div>
      <div class="row p-0 m-0 w-100" style="height: 87.7vh">
        <div class="size1 border rounded bg-white">
          <div class="row p-0 m-0">
            <div class="p-0 position-relative d-flex justify-content-between">
              <div>
                <p class="fs-32 fw-700">User</p>
              </div>
              <div>
                <button
                  type="button"
                  class="btn hover-blue dblue py-2 px-3"
                  (click)="onClickAddUser()"
                >
                  <div class="d-flex position-relative justify-content-between">
                    <div class="icon my-auto"></div>
                    <div class="fs my-auto mx-1 fw-600">Add User</div>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="table borders">
            <table id="customers">
              <tr class="fw-600">
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Status</th>
                <th class="text-center">Action</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Sey Na</td>
                <td>Admin</td>
                <td>Enabled</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Sey Na</td>
                <td>Admin</td>
                <td>Enabled</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Sey Na</td>
                <td>Admin</td>
                <td>Enabled</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>Sey Na</td>
                <td>Admin</td>
                <td>Enabled</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>Sey Na</td>
                <td>Admin</td>
                <td>Enabled</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>Sey Na</td>
                <td>Admin</td>
                <td>Enabled</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>7</td>
                <td>Sey Na</td>
                <td>Admin</td>
                <td>Enabled</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>8</td>
                <td>Sey Na</td>
                <td>Admin</td>
                <td>Enabled</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>9</td>
                <td>Sey Na</td>
                <td>Admin</td>
                <td>Enabled</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>10</td>
                <td>Sey Na</td>
                <td>Admin</td>
                <td>Enabled</td>
                <td class="d-flex position-relative justify-content-center">
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="edit d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-edit"></div></div>
                    </div>
                  </div>
                  <div class="mx-1" style="width: 35px">
                    <div
                      class="delete d-flex justify-content-center fw-600 rounded"
                    >
                      <div class="my-auto"><div class="icon-delete"></div></div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
