<div class="allpage">
  <div class="row g-0">
    <div class="col-2 col-sm-2">
      <app-MenuPage></app-MenuPage>
    </div>
    <div class="col-10">
      <div class="mt-5">
        <div class="size1 rounded container">
          <div class="container">
            <div class="row mt-4">
              <div class="col-6">
                <p class="fs-32 fw-700">User</p>
              </div>
              <div class="col-6 gy-3 ms mt-2">
                <button
                  type="button"
                  class="btn hover-blue dblue"
                  onclick="window.location.href='http://localhost:4200/#/admin/editallrooms'"
                >
                  <div class="row">
                    <div class="col col-sm-3">
                      <div class="icon"></div>
                    </div>
                    <div class="col col-sm-2">
                      <div class="fs">Add&nbsp;Room</div>
                    </div>
                  </div>
                </button>
              </div>
            </div>
            <div class="table borders">
              <table id="customers">
                <tr class="fw-600">
                  <th>No</th>
                  <th>Full Name</th>
                  <th>E-mail</th>
                  <th>Role</th>
                  <th>Gender</th>
                  <th>Phone Num</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Seyha</td>
                  <td>piseychou1@gmail.com</td>
                  <td>Admin</td>
                  <td>Female</td>
                  <td>097 888 0992</td>
                  <td>
                    <div class="m-auto">
                      <div class="row">
                        <div class="col-2 col-sm-3">
                          <button class="btn btn1 icon1">
                            <div class="acctionicon1"></div>
                          </button>
                        </div>
                        <div class="col-2 col-sm-3 pe-0">
                          <button class="btn btn2 icon2">
                            <div class="acctionicon2"></div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Seyha</td>
                  <td>piseychou1@gmail.com</td>
                  <td>Admin</td>
                  <td>Female</td>
                  <td>097 888 0992</td>
                  <td>
                    <div class="m-auto">
                      <div class="row">
                        <div class="col-2 col-sm-3">
                          <button class="btn btn1 icon1">
                            <div class="acctionicon1"></div>
                          </button>
                        </div>
                        <div class="col-2 col-sm-3 pe-0">
                          <button class="btn btn2 icon2">
                            <div class="acctionicon2"></div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Seyha</td>
                  <td>piseychou1@gmail.com</td>
                  <td>Admin</td>
                  <td>Female</td>
                  <td>097 888 0992</td>
                  <td>
                    <div class="m-auto">
                      <div class="row">
                        <div class="col-2 col-sm-3">
                          <button class="btn btn1 icon1">
                            <div class="acctionicon1"></div>
                          </button>
                        </div>
                        <div class="col-2 col-sm-3 pe-0">
                          <button class="btn btn2 icon2">
                            <div class="acctionicon2"></div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Seyha</td>
                  <td>piseychou1@gmail.com</td>
                  <td>Admin</td>
                  <td>Female</td>
                  <td>097 888 0992</td>
                  <td>
                    <div class="m-auto">
                      <div class="row">
                        <div class="col-2 col-sm-3">
                          <button class="btn btn1 icon1">
                            <div class="acctionicon1"></div>
                          </button>
                        </div>
                        <div class="col-2 col-sm-3 pe-0">
                          <button class="btn btn2 icon2">
                            <div class="acctionicon2"></div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Seyha</td>
                  <td>piseychou1@gmail.com</td>
                  <td>Admin</td>
                  <td>Female</td>
                  <td>097 888 0992</td>
                  <td>
                    <div class="m-auto">
                      <div class="row">
                        <div class="col-2 col-sm-3">
                          <button class="btn btn1 icon1">
                            <div class="acctionicon1"></div>
                          </button>
                        </div>
                        <div class="col-2 col-sm-3 pe-0">
                          <button class="btn btn2 icon2">
                            <div class="acctionicon2"></div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Seyha</td>
                  <td>piseychou1@gmail.com</td>
                  <td>Admin</td>
                  <td>Female</td>
                  <td>097 888 0992</td>
                  <td>
                    <div class="m-auto">
                      <div class="row">
                        <div class="col-2 col-sm-3">
                          <button class="btn btn1 icon1">
                            <div class="acctionicon1"></div>
                          </button>
                        </div>
                        <div class="col-2 col-sm-3 pe-0">
                          <button class="btn btn2 icon2">
                            <div class="acctionicon2"></div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Seyha</td>
                  <td>piseychou1@gmail.com</td>
                  <td>Admin</td>
                  <td>Female</td>
                  <td>097 888 0992</td>
                  <td>
                    <div class="m-auto">
                      <div class="row">
                        <div class="col-2 col-sm-3">
                          <button class="btn btn1 icon1">
                            <div class="acctionicon1"></div>
                          </button>
                        </div>
                        <div class="col-2 col-sm-3 pe-0">
                          <button class="btn btn2 icon2">
                            <div class="acctionicon2"></div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Seyha</td>
                  <td>piseychou1@gmail.com</td>
                  <td>Admin</td>
                  <td>Female</td>
                  <td>097 888 0992</td>
                  <td>
                    <div class="m-auto">
                      <div class="row">
                        <div class="col-2 col-sm-3">
                          <button class="btn btn1 icon1">
                            <div class="acctionicon1"></div>
                          </button>
                        </div>
                        <div class="col-2 col-sm-3 pe-0">
                          <button class="btn btn2 icon2">
                            <div class="acctionicon2"></div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Seyha</td>
                  <td>piseychou1@gmail.com</td>
                  <td>Admin</td>
                  <td>Female</td>
                  <td>097 888 0992</td>
                  <td>
                    <div class="m-auto">
                      <div class="row">
                        <div class="col-2 col-sm-3">
                          <button class="btn btn1 icon1">
                            <div class="acctionicon1"></div>
                          </button>
                        </div>
                        <div class="col-2 col-sm-3 pe-0">
                          <button class="btn btn2 icon2">
                            <div class="acctionicon2"></div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Seyha</td>
                  <td>piseychou1@gmail.com</td>
                  <td>Admin</td>
                  <td>Female</td>
                  <td>097 888 0992</td>
                  <td>
                    <div class="m-auto">
                      <div class="row">
                        <div class="col-2 col-sm-3">
                          <button class="btn btn1 icon1">
                            <div class="acctionicon1"></div>
                          </button>
                        </div>
                        <div class="col-2 col-sm-3 pe-0">
                          <button class="btn btn2 icon2">
                            <div class="acctionicon2"></div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="mt-5">
              <button
                type="button"
                class="btn blue"
                onclick="window.location.href='http://localhost:4200/#/admin/editallrooms'"
              >
                <div class="row">
                  <div class="col-6 col-sm-3">
                    <div class="icon"></div>
                  </div>
                  <div class="col-6 col-sm-3">
                    <div class="fw-600 fs-17">Add&nbsp;User</div>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
