<div class="menu" data-aos="fade-down" data-aos-duration="500">
  <div class="row">
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Omelets
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$12.5</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Ham and Cheese, Vegetarian Omelets, Sausages & Eggs...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Noodles
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$15</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Egg Noodles, Vegetable Noodle, Chicken Noodles, Beef Noodles..
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          The Cliff Grill
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$7</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Vegan Sausages, Smoked Bacon, Fried Egg...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Bread
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$5</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Toast, Donuts, Sandwiches, Hot dog...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Fried Rice
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$8.5</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Eggs Fried Rice, Chicken Fried Rice, Beef Fried Rice...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Drinks
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$10</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Hot Caffe, Milk, Green Tea, Fresh juice...
        </p>
      </div>
    </div>
  </div>
</div>
