@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.img-box {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("../../assets/resources/ourroom/ourroom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
}

.card {
  width: 100%;
  height: 400px;
  border-radius: 0px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
}

.on-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  z-index: 0;
  transform: translateX(-100%);
}

.card-header,
.card-body,
.card-footer {
  z-index: 1;
  background: none;
  border: none;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.card-footer {
  padding-bottom: 1rem;
}

.line {
  width: 20%;
  opacity: 1;
  border: 1px solid #ffffff;
  transition: 0.4s;
}

.card:hover > .on-hover {
  transform: translateX(0%);
  background-color: rgba(0, 0, 0, 0.3);
}

.card:hover > .card-footer > .line {
  width: 65%;
}

.hover-underline {
  position: relative;
  transform: translateY(-200%);
  transition: 0.4s;
}

.card:hover > .card-header > .hover-underline {
  position: relative;
  transform: translateY(75%);
  cursor: pointer;
}

.card:hover > .card-header > .hover-underline:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -5px;
  width: 115%;
  height: 2px;
  background-color: white;
  animation: underline 0.3s;
  z-index: 1;
  cursor: pointer;
}

.card-footer {
  transition: 0.3s;
  transform: translateY(35%);
}

.card:hover > .card-footer {
  transform: translateY(-5%);
}

@media screen and (max-width: 576px) {
  .img-box {
    width: 100%;
    height: 440px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 100%,
        transparent 70%
      ),
      url("../../assets/resources/ourroom/ourroom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70%;
  }
  .card-header,
  .card-body,
  .card-footer {
    z-index: 1;
    background: none;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .card-footer {
    transition: 0.3s;
    transform: translateY(45%);
  }

  .card:hover > .card-footer {
    transform: translateY(-5%);
  }
}
