<div class="ourroom overflow-hidden">
  <div class="bg-blue pt-xxl-auto pt-5 mt-4">
    <div class="container">
      <div class="row py-6">
        <div class="col-xxl-6 pe-xxl-5 px-xxl-auto px-4">
          <p class="fw-700 fs-sm-34 mt-xxl-auto mt-3 fs-46">Our Room</p>
          <p class="fs-content fs-sm-16 mb-xxl-auto mb-0">
            The 247 rooms and suites at Hyatt Regency Phnom Penh cater to both
            business and leisure travellers and feature energizing views, modern
            décor with innovative touches where guests can recharge. Suites
            offer spacious living areas and sustainable amenities in addition to
            marble bathtubs. Staying connected is seamless with high-speed Wi-Fi
            and 65” TVs.
          </p>
          <div class="row p-xxl-4 p-auto py-xxl-4 py-4">
            <div
              class="col-xxl-3 col-4 pe-xxl-auto pe-0"
              style="border-right: 1px solid #b6b6b6"
            >
              <p class="fs-content fs-sm-16 lh-sm m-0">
                CHECK-IN <br /><br />
                2:00 PM
              </p>
            </div>
            <div class="col-xxl-4 col-6 ms-xxl-4 ms-4 ps-xxl-3">
              <p class="fs-content fs-sm-16 lh-sm m-0">
                CHECK-OUT <br /><br />
                12:00 PM
              </p>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 p-xxl-auto p-0">
          <div class="img-box"></div>
        </div>
      </div>
      <div class="position-relative">
        <app-SearchBox></app-SearchBox>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container px-xxl-3 pe-xxl-0 px-0">
      <div class="row py-6">
        <div class="col-xxl-6 p-2" *ngFor="let item of data">
          <div
            class="card p-0"
            [ngStyle]="{ 'background-image': 'url(' + item.url + ')' }"
            (click)="onClickNavigate(item)"
          >
            <div class="on-hover"></div>
            <div class="card-header d-flex" style="z-index: 1">
              <p class="hover-underline text-white fw-600 fs-link">
                Details <i class="bi bi-arrow-right"></i>
              </p>
            </div>
            <div class="card-body"></div>
            <div class="card-footer">
              <div class="text-white fs-content fs-sm-20 fw-600">
                {{ item.price }}$ / Night
              </div>
              <div class="text-white fs-32 fw-700">{{ item.name }}</div>
              <div class="line mt-2"></div>
              <div class="row mt-3">
                <div class="col-8 text-white">
                  <i class="bi bi-award pe-2"></i
                  ><i class="bi bi-award pe-2"></i
                  ><i class="bi bi-award pe-2"></i
                  ><i class="bi bi-award pe-2"></i>
                </div>
                <div class="col-4 text-end">
                  <button
                    class="btn px-4 btn-white hover-blue fs-content fw-600 text-white"
                  >
                    Book Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
