.img-box {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 100%,
      transparent 70%
    ),
    url("https://s3-alpha-sig.figma.com/img/ae60/b404/43f0950c9733f5e8898bff77a6060058?Expires=1678665600&Signature=PJbPy3Eu6a9Uw7pKMU5Ng4ubub7gMCl9If3qTpbaGKXc1glnAzImJ0X8Hf0OvBOpo-YfaB10NMxIQ8gg1yuEEEzbjwmP1IMjvlPNzoYqkt6VbJWEPRMY4zR9O0C8Ky1iUNRw0RBtNmxM0bIF3QNMK5iXFkNkpdRCZFbkoGpeDL2ny2DGtQN6Yog5jrSW8oogNmEB~owsrLPZTKfYsI7lS5Y2lNH~fOvaTL76B6sSBdKkpXGv9~Tm6JWlRwuYLzAS1njPf0UZ0l~iFgGIcfVmuP668CEm8W3y0kXUXugkX-IzPR5CUltkW6H1Q460Sr0tlWLPs7v-gPvZlF8EQJbc1g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
}
