<div class="menu">
  <div class="row">
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Spaghetti
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$12.5</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Spaghetti Bolognese, Spaghetti With chicken sauce,
          Drunken Spaghetti..
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Ramen
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$12</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Sapporo, Hakodate, Tokyo, Kyoto, Shio...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Food
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$8</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Fried squid with salty eggs, Deep fried squid with garlic
          spinach....
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Pancake
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$8</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Plain pancake, Tower pancake, Blueberry pancake, Banana Cholate..
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Rice
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$8</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          chicken Eggstra, Tenderloin Eggstra, Beef Slice, Chicken Rice...
        </p>
      </div>
    </div>
    <div class="col-xxl-6">
      <div class="row px-xxl-5 px-3 my-3">
        <div class="col-6 text-start blue fs-28 fs-sm-18 p-0">
          Bread
        </div>
        <div class="col-6 text-end fs-28 fs-sm-18 p-0">$12.5</div>
        <div class="line"></div>
        <p class="p-0 fs-content fs-sm-16">
          Meatball, Grilled Chicken, Grilled Chicken Snack Wrap...
        </p>
      </div>
    </div>
  </div>
</div>
