<div class="contactus">
  <div class="bg-img-head position-relative">
    <div class="header-text text-white">
      <h1 class="fw-bold fs-96 text-center">Contact Us</h1>
    </div>
  </div>
  <div class="line"></div>
  <div class="bg-white">
    <div class="container">
      <div class="row py-6">
        <div class="col-xxl-6">
          <h2 class="fw-700 fs-46 mb-3">The Cappa Luxury Hotel</h2>
          <p class="fs-content">YOUR WAY TO SUNWAY</p>
          <p class="fs-content">
            Here's how you can get right to our doorstep. We look forward to
            welcoming you.
          </p>
          <div class="fs-content py-5">
            <p>
              <i class="bi bi-telephone-fill pe-3 blue"></i>+855 964 618 486
            </p>
            <p>
              <i class="bi bi-envelope-fill pe-3 blue"></i>piseychou1@gmail.com
            </p>
            <p>
              <i class="bi bi-map-fill pe-3 blue"></i>RUPP , Building A , Room
              104
            </p>
          </div>
        </div>
        <div class="col-xxl-6">
          <h2 class="fw-600 fs-28 pt-3 ps-6">Get in Touch</h2>
          <div class="row py-3 p-5">
            <div class="col-xxl-6 py-3">
              <div class="wave-group">
                <input required="" type="text" class="input" />
                <span class="bar"></span>
                <label class="label">
                  <span class="label-char" style="--index: 0">Y</span>
                  <span class="label-char" style="--index: 1">o</span>
                  <span class="label-char" style="--index: 2">u</span>
                  <span class="label-char" style="--index: 3">r</span>
                  <span class="label-char" style="--index: 4">&nbsp;</span>
                  <span class="label-char" style="--index: 5">N</span>
                  <span class="label-char" style="--index: 6">a</span>
                  <span class="label-char" style="--index: 7">m</span>
                  <span class="label-char" style="--index: 8">e</span>
                  <span class="label-char" style="--index: 9">&nbsp;</span>
                  <span class="label-char" style="--index: 10">*</span>
                </label>
              </div>
            </div>
            <div class="col-xxl-6 py-3">
              <div class="wave-group">
                <input required="" type="text" class="input" />
                <span class="bar"></span>
                <label class="label">
                  <span class="label-char" style="--index: 0">Y</span>
                  <span class="label-char" style="--index: 1">o</span>
                  <span class="label-char" style="--index: 2">u</span>
                  <span class="label-char" style="--index: 3">r</span>
                  <span class="label-char" style="--index: 4">&nbsp;</span>
                  <span class="label-char" style="--index: 5">E</span>
                  <span class="label-char" style="--index: 6">m</span>
                  <span class="label-char" style="--index: 7">a</span>
                  <span class="label-char" style="--index: 8">i</span>
                  <span class="label-char" style="--index: 9">l</span>
                  <span class="label-char" style="--index: 10">&nbsp;</span>
                  <span class="label-char" style="--index: 11">*</span>
                </label>
              </div>
            </div>
            <div class="col-xxl-6 py-3">
              <div class="wave-group">
                <input required="" type="text" class="input" />
                <span class="bar"></span>
                <label class="label">
                  <span class="label-char" style="--index: 0">Y</span>
                  <span class="label-char" style="--index: 1">o</span>
                  <span class="label-char" style="--index: 2">u</span>
                  <span class="label-char" style="--index: 3">r</span>
                  <span class="label-char" style="--index: 4">&nbsp;</span>
                  <span class="label-char" style="--index: 5">N</span>
                  <span class="label-char" style="--index: 6">u</span>
                  <span class="label-char" style="--index: 7">m</span>
                  <span class="label-char" style="--index: 8">b</span>
                  <span class="label-char" style="--index: 9">e</span>
                  <span class="label-char" style="--index: 10">r</span>
                  <span class="label-char" style="--index: 11">&nbsp;</span>
                  <span class="label-char" style="--index: 12">*</span>
                </label>
              </div>
            </div>
            <div class="col-xxl-6 py-3">
              <div class="wave-group">
                <input required="" type="text" class="input" />
                <span class="bar"></span>
                <label class="label">
                  <span class="label-char" style="--index: 0">S</span>
                  <span class="label-char" style="--index: 1">u</span>
                  <span class="label-char" style="--index: 2">b</span>
                  <span class="label-char" style="--index: 3">j</span>
                  <span class="label-char" style="--index: 4">e</span>
                  <span class="label-char" style="--index: 5">c</span>
                  <span class="label-char" style="--index: 6">t</span>
                  <span class="label-char" style="--index: 7">&nbsp;</span>
                  <span class="label-char" style="--index: 8">*</span>
                </label>
              </div>
            </div>
            <div class="col-xxl-12 py-3">
              <div class="wave-group">
                <input required="" type="text" class="input pt-6" />
                <span class="bar"></span>
                <label class="label">
                  <span class="label-char" style="--index: 0">M</span>
                  <span class="label-char" style="--index: 1">e</span>
                  <span class="label-char" style="--index: 2">s</span>
                  <span class="label-char" style="--index: 3">s</span>
                  <span class="label-char" style="--index: 4">a</span>
                  <span class="label-char" style="--index: 5">g</span>
                  <span class="label-char" style="--index: 6">e</span>
                  <span class="label-char" style="--index: 7">&nbsp;</span>
                  <span class="label-char" style="--index: 8">*</span>
                </label>
              </div>
            </div>
          </div>
          <div class="p-5 py-3">
            <button class="btn btn-red red hover-red fs-content fw-600 px-5">
              Submit
            </button>
          </div>
        </div>
      </div>
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3908.770660333638!2d104.88850131505703!3d11.568291891787156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3109519fe4077d69%3A0x20138e822e434660!2sRUPP%20(Royal%20University%20of%20Phnom%20Penh)!5e0!3m2!1sen!2skh!4v1677407334387!5m2!1sen!2skh"
          class="w-100"
          style="border: 0; height: 500px;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
