hr {
  position: relative;
  top: 3px;
}

i {
  position: relative;
  top: 1px;
}

a {
  position: relative;
  top: 5px;
}

.card {
  width: 100%;
  height: 380px;
  padding: 0px;
  border-radius: 10px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.card-header {
  width: 100%;
  height: 200px;
  padding: 0px;
  border-radius: 8px 8px 0px 0px;
  border: none;
  overflow: hidden;
}

.bg-img {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 9px 9px 0px 0px;
  transition: all 0.3s ease-in-out;
}

.bg-img:hover {
  border-radius: 10px 10px 0px 0px;
  transform: scale(1.2);
  cursor: pointer;
}

.event-img-1 {
  background-image: url("https://s3-alpha-sig.figma.com/img/8dd2/4328/220efb22f182cc8a5a1fde3bc735730e?Expires=1698624000&Signature=engHgnoeUzKpzacNtwoylXojhVxjl7nC82nxI8BcNyVT9WGepkoIX2ZWGztBX9Dobg12ModUh5~qlgOhdrIEg0bZTk7SmD1GdhwMxYroLq~tU39ytfr4j7M~SUbj2Lb0sDE-lhKm-S5yds-6XDB7c931k6k9ojMmtj6YiwEjJMFBHTzlwggwiyop~12~YL6ABob~5PMI4BMvohE9XTZZMYMOrccdmCOPxlPr4wJa0ar9iFEJ8LtzJkP0jRAPanOUuRRJBkdnGP7U32dcoDNXQ6AKQXScOGdB78YOoPqa1HUb2~jW3GQAGwgLggKqY0JrgDlnM8HVqbEr5g3VfSSiMA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}
.event-img-2 {
  background-image: url("https://s3-alpha-sig.figma.com/img/355d/aa2d/b4ec4f062fcb15f4e1c28ad517c9aa43?Expires=1698624000&Signature=bqsY~zzhl6i2rgvhsRlAOkjOSljykMpqOV5pj5Vym21-n80HdXXrWlWfp6mauAk50vflC~GevFAnoNbOEoD9~vutAPBup~r6XpUOpcd6fxjKZ5x-UrfdXxRzo9tCkAg40U4oDV4guDntJSiWK-rBdM~vzjVOofTOzZnPkPLW8vtga6dasT8qu4qXC7z7DxQK-JvDekIMouJ52ziIFyxX5bQ8NgLNRJhpvuGhZZQjNz2vnIc3YtKIRkh30jhsugysv9iNwHowjdWHSktppMIBMg-kOQ7pjMJu2YXlgeVq5hfUCHWOUhcwLJGIX24Mf~R79ZaW8nisy0TT0bFeBvBZlg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}
.event-img-3 {
  background-image: url("https://s3-alpha-sig.figma.com/img/f3c1/8907/5958e4ef5e51306b6a253c535b8dea04?Expires=1698624000&Signature=KtXY~TMamHtmbH9PArjA3R1kMGcljn3jykd1d9aAbLXgSWWQ9K4pJTh0sNRXI7AB5r~3CiOk9t8~rT3gcZRq-noIIY1ta1kUpvR58qKzidqX5abjiMLqCITAJ7ssEhdGLAfOzxxBPeQXxFegBjbJhupJ5ckRPUAqigSYlSvhkKHxMCkHAvRj2VJuzHZln50VWZiPkLz0r0D9wxA5mnqeQ33zJao1hAeUr0uDI9zayGYRqan8~h9byb7FKbT-I22WW-NlOBsteUUjqCSEnVrFS6Xck0H4Lq1sLMPPb9Uty6S085y9ZBsk5TkQDjFbD3SsUr86nrpp-NACpAWaBA0pCw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

/* Button Style ViewAll */
.cus-btn {
  font-size: 18px;
  color: black;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.cus-btn:focus,
.cus-btn:hover {
  color: #0057b2;
}

.cus-btn:focus:after,
.cus-btn:hover:after {
  width: 100%;
  left: 0%;
}

.cus-btn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #0057b2;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* custom card */
.card-cus {
  width: 100%;
  height: 410px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

/*Hover*/
.card-cus:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card-cus:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.fs{
  font-size: 24px !important;
}


@media screen and (max-width: 576px) {
  hr {
    display: none;
  }
  .fs{
    font-size: 18px !important;
  }
  .mb-0{
    margin-top: 10px !important;
  }
  .scroll-card.item{
    scroll-snap-align: start;
  }
  .scroll-card{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory ;
  }
  .item{
    min-width: 100%;
  }
}
