<div class="meeting">
  <div class="bg-blue">
    <div class="container">
      <div class="row p-xxl-5 p-4 pe-3">
        <div class="d-flex justify-content-between p-0">
          <h2 class="fw-700 blue mb-0 fs">MEETINGS & EVENTS</h2>
          <hr
            style="
              width: 50%;
              height: 2px;
              border-width: 1px;
              border-color: black;
              opacity: 1;
            "
            class="mx-5"
          />
          <a routerLink="/meeting&event" style="text-decoration: none">
            <button class="cus-btn">
              View All<svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-arrow-right-short mb-1"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                />
              </svg>
            </button>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-4 px-2 mb-xxl-auto mb-3 item">
          <div class="card-cus ">
              <div class="card" (click)="onClickNavigate()">
                <div class="card-header">
                  <div class="bg-img event-img-1"></div>
                </div>
                <div class="card-body text-center p-3 pt-3">
                  <p class="fs-lg-content blue fw-600">CONFERENCE ROOMS</p>
                  <p class="fs-content">
                    The best collaboration spaces are more
                    than a table and chairs—they’re built to
                    support how teams work. Collaboration
                    is the foundation in workplace.
                  </p>
                </div>
              </div>
              <button class="card-button">More info</button>
            </div>
        </div>
        <div class="col-xxl-4 px-2 mb-xxl-auto mb-3 item ">
          <div class="card-cus ">
              <div class="card" (click)="onClickNavigate()">
                <div class="card-header">
                  <div class="bg-img event-img-2"></div>
                </div>
                <div class="card-body text-center p-3 pt-3">
                  <p class="fs-lg-content blue fw-600">PARTY EVENTS</p>
                  <p class="fs-content">
                    No matter their reason for celebrating,
                    guests who rent space for a private party may require some extra care and attention.
                  </p>
                </div>
              </div>
              <button class="card-button">More info</button>
            </div>
        </div>
        <div class="col-xxl-4 px-2 mb-xxl-auto mb-3 item item2">
          <div class="card-cus ">
              <div class="card" (click)="onClickNavigate()">
                <div class="card-header">
                  <div class="bg-img event-img-3"></div>
                </div>
                <div class="card-body text-center p-3 pt-3">
                  <p class="fs-lg-content blue fw-600">WEDDINGS EVENTS</p>
                  <p class="fs-content">
                    Hotel wedding venues are among the most popular, stylish, and convenient places to get married to see the view out door of our hotel.
                  </p>
                </div>
              </div>
              <button class="card-button">More info</button>
            </div>
        </div>
      </div>
      <div class="scroll-card">
        <div class="col-xxl-4 px-2 mb-xxl-auto mb-3 item">
          <div class="card-cus ">
              <div class="card" (click)="onClickNavigate()">
                <div class="card-header">
                  <div class="bg-img event-img-1"></div>
                </div>
                <div class="card-body text-center p-3 pt-3">
                  <p class="fs-lg-content blue fw-600">CONFERENCE ROOMS</p>
                  <p class="fs-content">
                    The best collaboration spaces are more
                    than a table and chairs—they’re built to
                    support how teams work. Collaboration
                    is the foundation in workplace.
                  </p>
                </div>
              </div>
              <button class="card-button">More info</button>
            </div>
        </div>
        <div class="col-xxl-4 px-2 mb-xxl-auto mb-3 item ">
          <div class="card-cus ">
              <div class="card" (click)="onClickNavigate()">
                <div class="card-header">
                  <div class="bg-img event-img-2"></div>
                </div>
                <div class="card-body text-center p-3 pt-3">
                  <p class="fs-lg-content blue fw-600">PARTY EVENTS</p>
                  <p class="fs-content">
                    No matter their reason for celebrating,
                    guests who rent space for a private party may require some extra care and attention.
                  </p>
                </div>
              </div>
              <button class="card-button">More info</button>
            </div>
        </div>
        <div class="col-xxl-4 px-2 mb-xxl-auto mb-3 item item2">
          <div class="card-cus ">
              <div class="card" (click)="onClickNavigate()">
                <div class="card-header">
                  <div class="bg-img event-img-3"></div>
                </div>
                <div class="card-body text-center p-3 pt-3">
                  <p class="fs-lg-content blue fw-600">WEDDINGS EVENTS</p>
                  <p class="fs-content">
                    Hotel wedding venues are among the most popular, stylish, and convenient places to get married to see the view out door of our hotel.
                  </p>
                </div>
              </div>
              <button class="card-button">More info</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
