<div class="meeting">
  <div class="bg-blue">
    <div class="container">
      <div class="row p-5 pe-3">
        <div class="d-flex justify-content-between p-0">
          <h2 class="fw-700 blue mb-0">MEETINGS & EVENTS</h2>
          <hr
            style="
              width: 50%;
              height: 2px;
              border-width: 1px;
              border-color: black;
              opacity: 1;
            "
            class="mx-5"
          />
          <a routerLink="/meeting&event" style="text-decoration: none">
            <button class="cus-btn">
              View All<svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-arrow-right-short mb-1"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                />
              </svg>
            </button>
          </a>
        </div>
      </div>
      <div class="row py-5 pt-2 px-2">
        <div class="col-xxl-4" *ngFor="let i of [1, 2, 3]">
          <div class="card mx-auto" (click)="onClickNavigate()">
            <div class="card-header">
              <div class="bg-img event-img-1"></div>
            </div>
            <div class="card-body text-center p-4 pt-3">
              <p class="fs-lg-content blue fw-600">CONFERENCE ROOMS</p>
              <p class="fs-content">
                Enjoy a seamless experience organising and holding a meeting in
                our varied selection of meeting rooms.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
