/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/*follow-up standard for our website*/

.blue {
  color: #0057b2;
}

.l-blue {
  color: #28a7e1;
}

.green {
  color: #22b07d;
}

.red {
  color: #f44336;
}

.bg-blue {
  background-color: #ebf5ff;
}

.bg-white {
  background-color: white;
}

.bg-wheat {
  background-color: #f3f3f3;
}

.fs-96 {
  font-size: 96px !important;
}

.fs-64 {
  font-size: 64px !important;
}

.fs-46 {
  font-size: 46px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-lg-content {
  font-size: 24px !important;
}

.fs-content {
  font-size: 20px !important;
}

.fs-link {
  font-size: 18px !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.btn {
  border: 1px solid #0057b2;
}

.btn.btn-black {
  border: 1px solid black;
}

.btn.btn-white {
  border: 1px solid white;
}

.btn.btn-red {
  border: 1px solid #f44336;
}

.btn.hover-blue:hover {
  color: white;
  background-color: #307bf6;
  border: 1px solid #307bf6;
}

.btn.hover-lblue:hover {
  color: white;
  background-color: #28a7e1;
  border: 1px solid #28a7e1;
}

.btn.hover-red:hover {
  color: white;
  background-color: #f44336;
  border: 1px solid #f44336;
}

@media screen and (min-width: 1400px) {
  .fs-xxl-1 {
    font-size: 2.5rem !important;
  }
  .fs-xxl-2 {
    font-size: 2rem !important;
  }
  .fs-xxl-3 {
    font-size: 1.75rem !important;
  }
  .fs-xxl-4 {
    font-size: 1.5rem !important;
  }
  .fs-xxl-5 {
    font-size: 1.25rem !important;
  }
  .fs-xxl-6 {
    font-size: 1rem !important;
  }
  // ==================================
  .pt-6 {
    padding-top: 6rem !important;
  }
  .pt-7 {
    padding-top: 12rem !important;
  }
  .pb-6 {
    padding-bottom: 6rem !important;
  }
  .pb-7 {
    padding-bottom: 12rem !important;
  }
  .ps-6 {
    padding-left: 6rem !important;
  }
  .ps-7 {
    padding-left: 12rem !important;
  }
  .pe-6 {
    padding-right: 6rem !important;
  }
  .pe-7 {
    padding-right: 12rem !important;
  }
  .py-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-7 {
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
  }
  .px-6 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
  .px-7 {
    padding-left: 12rem !important;
    padding-right: 12rem !important;
  }

  .mt-6 {
    margin-top: 6rem !important;
  }
  .mt-7 {
    margin-top: 12rem !important;
  }
  .mb-6 {
    margin-bottom: 6rem !important;
  }
  .mb-7 {
    margin-bottom: 12rem !important;
  }
  .ms-6 {
    margin-left: 6rem !important;
  }
  .ms-7 {
    margin-left: 12rem !important;
  }
  .me-6 {
    margin-right: 6rem !important;
  }
  .me-7 {
    margin-right: 12rem !important;
  }
  .my-6 {
    margin-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .my-7 {
    margin-top: 12rem !important;
    padding-bottom: 12rem !important;
  }
  .mx-6 {
    margin-left: 6rem !important;
    padding-right: 6rem !important;
  }
  .mx-7 {
    margin-left: 12rem !important;
    padding-right: 12rem !important;
  }
}

@media screen and (max-width: 993px) {
  .fs-lg-1 {
    font-size: 2.5rem !important;
  }
  .fs-lg-2 {
    font-size: 2rem !important;
  }
  .fs-lg-3 {
    font-size: 1.75rem !important;
  }
  .fs-lg-4 {
    font-size: 1.5rem !important;
  }
  .fs-lg-5 {
    font-size: 1.25rem !important;
  }
  .fs-lg-6 {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 576px) {
  // font size
  .fs-sm-1 {
    font-size: 2.5rem !important;
  }
  .fs-sm-2 {
    font-size: 2rem !important;
  }
  .fs-sm-3 {
    font-size: 1.75rem !important;
  }
  .fs-sm-4 {
    font-size: 1.5rem !important;
  }
  .fs-sm-5 {
    font-size: 1.25rem !important;
  }
  .fs-sm-6 {
    font-size: 1rem !important;
  }
  .fs-sm-34 {
    font-size: 34px !important;
  }
  .fs-sm-32 {
    font-size: 32px !important;
  }
  .fs-sm-28 {
    font-size: 28px !important;
  }
  .fs-sm-24 {
    font-size: 24px !important;
  }
  .fs-sm-20 {
    font-size: 20px !important;
  }
  .fs-sm-18 {
    font-size: 18px !important;
  }
  .fs-sm-16 {
    font-size: 16px !important;
  }

  // padding
  .pt-sm-6 {
    padding-top: 6rem !important;
  }
  .pt-sm-7 {
    padding-top: 12rem !important;
  }
  .pb-sm-6 {
    padding-bottom: 6rem !important;
  }
  .pb-sm-7 {
    padding-bottom: 12rem !important;
  }
  .ps-sm-6 {
    padding-left: 6rem !important;
  }
  .ps-sm-7 {
    padding-left: 12rem !important;
  }
  .pe-sm-6 {
    padding-right: 6rem !important;
  }
  .pe-sm-7 {
    padding-right: 12rem !important;
  }
  .py-sm-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-sm-7 {
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
  }
  .px-sm-6 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
  .px-sm-7 {
    padding-left: 12rem !important;
    padding-right: 12rem !important;
  }

  //margin
  .mt-sm-6 {
    margin-top: 6rem !important;
  }
  .mt-sm-7 {
    margin-top: 12rem !important;
  }
  .mb-sm-6 {
    margin-bottom: 6rem !important;
  }
  .mb-sm-7 {
    margin-bottom: 12rem !important;
  }
  .ms-sm-6 {
    margin-left: 6rem !important;
  }
  .ms-sm-7 {
    margin-left: 12rem !important;
  }
  .me-sm-6 {
    margin-right: 6rem !important;
  }
  .me-sm-7 {
    margin-right: 12rem !important;
  }
  .my-sm-6 {
    margin-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .my-sm-7 {
    margin-top: 12rem !important;
    padding-bottom: 12rem !important;
  }
  .mx-sm-6 {
    margin-left: 6rem !important;
    padding-right: 6rem !important;
  }
  .mx-sm-7 {
    margin-left: 12rem !important;
    padding-right: 12rem !important;
  }
}
