<div class="allpage">
  <div class="row g-0">
    <div class="col-2 sm-2">
      <app-MenuPage></app-MenuPage>
    </div>
    <div class="col-10 bg">
      <!-- Sreach -->
      <div class="bg1 border rounded"></div>
      <div class="bg2">
        <div class="container">
          <div class="row">
            <div class="col-4 sm-1 gy-1">
              <p><b>Room&nbsp;Type</b></p>
            </div>
            <div class="col-4 sm-3 colorgray gy-1">
              <span class="material-symbols-outlined"> chevron_right </span>
            </div>
            <div class="col-4 col-sm-1 colorgray gy-1">
              <p>Edit&nbsp;Master&nbsp;Room</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 sm-3 g-3">
              <button class="btn icon">
                <span class="material-symbols-outlined"> arrow_back </span>
              </button>
            </div>
            <div class="col col-sm-2 fw-700 fs-32">
              <p>Master&nbsp;Rooms</p>
            </div>
            <div class="row">
              <div class="col-6 col-sm-4">
                <div class="container">
                  <div class="url colorgray">
                    <p>Image Cover URL</p>
                  </div>
                  <div class="input-group mb-3 size rounded">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Text input with dropdown button"
                    />
                  </div>
                  <div class="url colorgray">
                    <p>Image 1 URL</p>
                  </div>
                  <div class="input-group mb-3 size rounded">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Text input with dropdown button"
                    />
                  </div>
                  <div class="url colorgray">
                    <p>Image 2 URL</p>
                  </div>
                  <div class="input-group mb-3 size rounded">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Text input with dropdown button"
                    />
                  </div>
                  <div class="url colorgray">
                    <p>Image 3 URL</p>
                  </div>
                  <div class="input-group mb-3 size rounded">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Text input with dropdown button"
                    />
                  </div>
                  <div class="url colorgray">
                    <p>Image 4 URL</p>
                  </div>
                  <div class="input-group mb-3 size rounded">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Text input with dropdown button"
                    />
                  </div>
                  <div class="row">
                    <div class="col col-sm-2 gx-3">
                      <button
                        type="button"
                        class="btn save"
                        onclick="window.location.href='http://localhost:4200/#/admin/allroomtype'"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="cover border">
                  <p>Covers</p>
                </div>
                <div class="row">
                  <div class="col-3">
                    <div class="border bg-light picsize">Pic1</div>
                  </div>
                  <div class="col-3">
                    <div class="border bg-light picsize">Pic2</div>
                  </div>
                  <div class="col-3">
                    <div class="border bg-light picsize">Pic3</div>
                  </div>
                  <div class="col-3">
                    <div class="border bg-light picsize">Pic4</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
