.card {
  width: 100%;
  height: 475px;
  padding: 0px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 0 0.8em rgba(255, 255, 255, 0);
}

.card-header {
  width: 100%;
  height: 210px;
  padding: 0px;
  border-radius: 10px 10px 0px 0px;
  border: none;
  overflow: hidden;
}

.card-body {
  height: 239px;
}

.card-footer {
  border: none;
  border-radius: 10px;
  background-color: inherit;
}

.btn {
  border: 1px solid #0057b2;
}

.btn.hover-blue:hover {
  color: white;
  background-color: #307BF6;
  border: 1px solid #307BF6;
}

.bg-img {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px 10px 0px 0px;
  transition: all .3s ease-in-out;
}

.bg-img:hover {
  border-radius: 10px 10px 0px 0px;
  transform: scale(1.2);
  cursor: pointer;
}

.room-img-1{
  /* background-image: url("https://s3-alpha-sig.figma.com/img/bb5b/607e/94178cb523017f2a3ab4864db43190d0?Expires=1679270400&Signature=C~KjseW8ViKVwudalZOCXKOwTWy05HHqnynHsb8vqrB05BLTIm69gcyVmp72w8s0YIrppuCW2RnqaedjKL6TrMb5lin2w8zJjDPuE~RR85tWphWdZD6mJB8Yhz3Lt~W5wfApGu8ntC8UVNpdN5TLVZWEfXAIC4YZGTf3RMlfs6xgm3GbAIz3zJTFOoAQjVm85AUzziHhbTc8OBNwD6tUBRsC8tYWpMy4e2m2UJ9n4E75FKjlyPpeM3drcUQj--8CJSHQP7v4uishLdeK0NmnpSVCd5XP9oviqgKKwjgsvaqH233S82oFq7YSkE1wtk~0MBf-cNvmNQ9lownJykyxig__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"); */
}


/* card hover style */
.card:hover {
  width: 100%;
  height: 475px;
  background: rgb(255, 255, 255);
  border: 0px solid rgb(200, 200, 200);
  border-radius: 10px;
  background-color: #fefefe;
  transition: all .5s;
}

.secondAnimation {
  --hoverContorno: #D1E8FD;
}

.secondAnimation:hover,
.secondAnimation:focus {
  -webkit-animation: cardAnimacion 1.4s;
  animation: cardAnimacion 1.4s;
  box-shadow: 0 0 0 0.8em rgba(255, 255, 255, 0);
  border-radius: 10px;
}

@-webkit-keyframes cardAnimacion {
  0% {
    box-shadow: 0 0 0 0 var(--hoverContorno);
  }
}

@keyframes cardAnimacion {
  0% {
    box-shadow: 0 0 0 0 var(--hoverContorno);
  }
}
