.card {
  width: 400px;
  height: 550px;
  padding: 0px;
  border: none;
  border-radius: 10px;
  background-color: white;
}

.card-header {
  width: 100%;
  height: 240px;
  padding: 0px;
  border-radius: 10px 10px 0px 0px;
  border: none;
  overflow: hidden;
}

.card-footer {
  border: none;
  border-radius: 10px;
  background-color: inherit;
}

.btn {
  border: 1px solid #0057b2;
}

.btn.hover-blue:hover {
  color: white;
  background-color: #307BF6;
  border: 1px solid #307BF6;
}

.bg-img {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px 10px 0px 0px;
  transition: all .3s ease-in-out;
}

.bg-img:hover {
  border-radius: 10px 10px 0px 0px;
  transform: scale(1.2);
  cursor: pointer;
}

.room-img-1{
  background-image: url("https://s3-alpha-sig.figma.com/img/327e/fb7e/b32173077152b87f3c26277f97126f1d?Expires=1678060800&Signature=JuSIJdhPS2w6NBtF-7XTTFFAJCIIDc407477Pe5womG9JoHDU4~hYedqyofTSX0kr3lla5Ir9Ic5XYCpR4~IfXQkg5yFlK9Zw~9h4N-x2RBR4nIubJUsGjUUp733YU45~aEQtzSWCpTYelmbTdN08ke3wKHAWUtC606sY5S5UpQWZfFJSf3Bl1WpaLbd3DJP7VAdIk9J2bPj1txP~~q2xopwtR7MwKJWkyXU9Y08W7aKwBFFLf7krEsnxO-TtRfUsVWm54QmP~OT7cFHbzJ7YojFyJg0Cg6XdbmpHD097F0aYIltiZxoz3ACr0Qq0jv8GHK7yueDLZGO6oX35YwL8w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}
